{
  "log": {
    "_recordingName": "Cash on Delivery",
    "creator": {
      "comment": "persister:CustomFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9047adc73226d7918125dc1e3df0207d",
        "request": {
          "headers": [
            {
              "name": "x-sf-csrf-token",
              "value": ","
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "include",
              "value": "cart.lineItems.physicalItems.options,cart.lineItems.digitalItems.options,customer,customer.customerGroup,payments,promotions.banners,cart.lineItems.physicalItems.categoryNames,cart.lineItems.digitalItems.categoryNames"
            }
          ],
          "url": "https://4241.project/api/storefront/checkout/84c4989e-e136-4b8c-b204-79ee4a5fe79b?include=cart.lineItems.physicalItems.options%2Ccart.lineItems.digitalItems.options%2Ccustomer%2Ccustomer.customerGroup%2Cpayments%2Cpromotions.banners%2Ccart.lineItems.physicalItems.categoryNames%2Ccart.lineItems.digitalItems.categoryNames"
        },
        "response": {
          "content": {
            "encoding": "utf8",
            "mimeType": "application/json",
            "size": 3470,
            "text": "{\"id\":\"84c4989e-e136-4b8c-b204-79ee4a5fe79b\",\"cart\":{\"id\":\"84c4989e-e136-4b8c-b204-79ee4a5fe79b\",\"customerId\":0,\"email\":\"checkout_Hayes@hotmail.com\",\"currency\":{\"name\":\"US Dollars\",\"code\":\"USD\",\"symbol\":\"$\",\"decimalPlaces\":2},\"isTaxIncluded\":false,\"baseAmount\":225,\"discountAmount\":0,\"cartAmount\":225,\"coupons\":[],\"discounts\":[{\"id\":\"915ea06a-1e1e-4e79-ad10-1d6c33405e4a\",\"discountedAmount\":0}],\"lineItems\":{\"physicalItems\":[{\"id\":\"915ea06a-1e1e-4e79-ad10-1d6c33405e4a\",\"parentId\":null,\"variantId\":66,\"productId\":86,\"sku\":\"ABS\",\"name\":\"[Sample] Able Brewing System\",\"url\":\"https:\\/\\/nicktsybulko1693820210-testsworthy.my-integration.zone\\/able-brewing-system\",\"quantity\":1,\"brand\":\"\",\"isTaxable\":true,\"imageUrl\":\"https:\\/\\/cdn.integration.zone\\/s-5l9qg11mjn\\/products\\/86\\/images\\/286\\/ablebrewingsystem4.1693820273.220.290.jpg?c=1\",\"discounts\":[],\"discountAmount\":0,\"couponAmount\":0,\"originalPrice\":225,\"listPrice\":225,\"salePrice\":225,\"retailPrice\":null,\"extendedListPrice\":225,\"extendedSalePrice\":225,\"comparisonPrice\":225,\"extendedComparisonPrice\":225,\"isShippingRequired\":true,\"giftWrapping\":null,\"addedByPromotion\":false,\"isMutable\":true,\"options\":[],\"categoryNames\":[\"Shop All\",\"Kitchen\"]}],\"digitalItems\":[],\"giftCertificates\":[],\"customItems\":[]},\"createdTime\":\"2023-09-04T22:27:53+00:00\",\"updatedTime\":\"2023-09-04T22:28:00+00:00\",\"locale\":\"en\"},\"billingAddress\":{\"id\":\"64f659ec3d3c1\",\"firstName\":\"Allene\",\"lastName\":\"Abernathy\",\"email\":\"checkout_Hayes@hotmail.com\",\"company\":\"Hills and Sons\",\"address1\":\"Stanton Crossing\",\"address2\":\"Apt. 080\",\"city\":\"Bel Air South\",\"shouldSaveAddress\":true,\"stateOrProvince\":\"Washington\",\"stateOrProvinceCode\":\"WA\",\"country\":\"United States\",\"countryCode\":\"US\",\"postalCode\":\"98346\",\"phone\":\"9953357523\",\"customFields\":[]},\"consignments\":[{\"id\":\"64f659ef36e24\",\"shippingCost\":0,\"handlingCost\":0,\"couponDiscounts\":[],\"discounts\":[],\"lineItemIds\":[\"915ea06a-1e1e-4e79-ad10-1d6c33405e4a\"],\"selectedShippingOption\":{\"id\":\"4dcbf24f457dd67d5f89bcf374e0bc9b\",\"type\":\"freeshipping\",\"description\":\"Free Shipping\",\"imageUrl\":\"\",\"cost\":0,\"transitTime\":\"\",\"additionalDescription\":\"\"},\"shippingAddress\":{\"firstName\":\"Christa\",\"lastName\":\"Feeney\",\"email\":\"\",\"company\":\"Spinka - Goodwin\",\"address1\":\"Lewis Lights\",\"address2\":\"Apt. 797\",\"city\":\"Rio Rancho\",\"stateOrProvince\":\"Washington\",\"stateOrProvinceCode\":\"WA\",\"country\":\"United States\",\"countryCode\":\"US\",\"postalCode\":\"98364\",\"phone\":\"7695654528\",\"customFields\":[],\"shouldSaveAddress\":true},\"address\":{\"firstName\":\"Christa\",\"lastName\":\"Feeney\",\"email\":\"\",\"company\":\"Spinka - Goodwin\",\"address1\":\"Lewis Lights\",\"address2\":\"Apt. 797\",\"city\":\"Rio Rancho\",\"stateOrProvince\":\"Washington\",\"stateOrProvinceCode\":\"WA\",\"country\":\"United States\",\"countryCode\":\"US\",\"postalCode\":\"98364\",\"phone\":\"7695654528\",\"customFields\":[],\"shouldSaveAddress\":true}}],\"orderId\":null,\"shippingCostTotal\":0,\"shippingCostBeforeDiscount\":0,\"handlingCostTotal\":0,\"taxTotal\":0,\"giftWrappingCostTotal\":0,\"coupons\":[],\"taxes\":[{\"name\":\"Tax\",\"amount\":0}],\"subtotal\":225,\"grandTotal\":225,\"outstandingBalance\":225,\"isStoreCreditApplied\":true,\"shouldExecuteSpamCheck\":false,\"giftCertificates\":[],\"createdTime\":\"2023-09-04T22:27:53+00:00\",\"updatedTime\":\"2023-09-04T22:28:00+00:00\",\"customerMessage\":\"\",\"channelId\":1,\"fees\":[],\"customer\":{\"id\":0,\"isGuest\":true,\"email\":\"\",\"firstName\":\"\",\"lastName\":\"\",\"fullName\":\"\",\"addresses\":[],\"storeCredit\":0,\"shouldEncourageSignIn\":false,\"customerGroup\":[]},\"promotions\":[],\"payments\":[{}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "bc-ray",
              "value": "1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1008,
      },
      {
        "_id": "3f87bb23d79c8bef5c6840e20cf65aac",
        "request": {
          "headers": [
            {
              "name": "x-api-internal",
              "value": "This API endpoint is for internal use only and may change in the future"
            },
            {
              "name": "x-sf-csrf-token",
              "value": ","
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://4241.project/api/storefront/form-fields"
        },
        "response": {
          "content": {
            "encoding": "utf8",
            "mimeType": "application/json",
            "size": 4024,
            "text": "{\"billingAddress\":[{\"id\":\"field_4\",\"name\":\"firstName\",\"custom\":false,\"label\":\"First Name\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_5\",\"name\":\"lastName\",\"custom\":false,\"label\":\"Last Name\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_6\",\"name\":\"company\",\"custom\":false,\"label\":\"Company Name\",\"required\":false,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_7\",\"name\":\"phone\",\"custom\":false,\"label\":\"Phone Number\",\"required\":false,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_8\",\"name\":\"address1\",\"custom\":false,\"label\":\"Address Line 1\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_9\",\"name\":\"address2\",\"custom\":false,\"label\":\"Address Line 2\",\"required\":false,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_10\",\"name\":\"city\",\"custom\":false,\"label\":\"Suburb\\/City\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_11\",\"name\":\"countryCode\",\"custom\":false,\"label\":\"Country\",\"required\":true,\"default\":null,\"maxLength\":null,\"type\":\"array\",\"fieldType\":\"dropdown\",\"options\":{\"helperLabel\":\"Choose a Country\",\"items\":[]}},{\"id\":\"field_12\",\"name\":\"stateOrProvince\",\"custom\":false,\"label\":\"State\\/Province\",\"required\":true,\"default\":null,\"maxLength\":null},{\"id\":\"field_13\",\"name\":\"postalCode\",\"custom\":false,\"label\":\"Zip\\/Postcode\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"}],\"shippingAddress\":[{\"id\":\"field_14\",\"name\":\"firstName\",\"custom\":false,\"label\":\"First Name\",\"required\":true,\"default\":\"\",\"maxLengt[...]
