// =============================================================================
// CHECKOUT CART (Component)
// =============================================================================

.cart {
    border: container("border");
    border-radius: $checkoutCart-borderRadius;
    box-shadow: container("dropShadow");
    display: none;
    margin: spacing("double") 0 spacing("single");
    min-height: $checkoutCart-minHeight;

    @include breakpoint("large") {
        display: block;
    }
}

.cart-note {
    color: color("greys");
    font-size: fontSize("smallest");
    padding-left: $checkoutCart-padding;
}

// Cart Header
// -----------------------------------------------------------------------------
//
// Purpose: Styling of the cart header
//
// -----------------------------------------------------------------------------

.cart-header {
    display: table;
    padding: $checkoutCart-padding;
    width: 100%;
}

.cart-title {
    display: table-cell;
    margin-bottom: 0;
    vertical-align: middle;
}

.cart-header-link {
    display: table-cell;
    text-align: right;
    vertical-align: middle;

    .icon {
        margin: -2px 3px 0 0;
    }

    svg {
        fill: currentColor;
    }
}

//
// Cart section styling
// -----------------------------------------------------------------------------

.cart-section {
    border-top: container("border");
    padding: $checkoutCart-padding;
}

.cart-section-heading {
    @include headingStyle("h5");

    margin-bottom: spacing("single");
}

.cart-actions {
    margin-top: spacing("half");
    text-align: center;

    .button {
        margin-bottom: 0;
    }
}

// Cart Price Item
// -----------------------------------------------------------------------------
//
// Purpose: Styling of the cart price
//
// -----------------------------------------------------------------------------

.cart-priceItem {
    display: table;
    margin-bottom: spacing("half");
    width: 100%;
}

.cart-priceItem-label,
.cart-priceItem-value {
    display: table-cell;
    vertical-align: middle;
}

.cart-priceItem-value {
    text-align: right;
}

.cart-priceItem-postFix {
    color: color("greys");
    display: table-row;
    font-size: fontSize("smallest");
}

.cart-priceItem--total {
    margin-bottom: 0;

    .cart-priceItem-label {
        font-size: fontSize("smaller");
    }

    .cart-priceItem-value {
        font-size: fontSize("larger");
        font-weight: fontWeight("bold");
        line-height: 1.2;
    }
}

.cart-priceItem--subtotal {
    font-weight: fontWeight("semibold");
}

@media print {
    .cart {
        background-color: color("whites", "bright");
        display: block;
    }

    .cart-header-link {
        display: none;
    }
}

.cart-priceItem--totalNote {
    margin-bottom: 0;
    margin-top: spacing("half");
}

// Test code
.subscription-info {
    background: radial-gradient(100% 1437.67% at 100% 54.17%, rgba(0, 50, 220, 0.25) 0%, rgba(255, 0, 0, 0.25) 100%);
    border-radius: 0 0 8px 8px;
    box-sizing: border-box;
    font-size: 13px;
    height: 24px;
    padding: 5px 10px;

    svg {
        margin-right: 8px;
    }
}

.custom-description,
.subscription-info {
    display: none;
}

.cart-summary-wrapper-mobile {
    .cart {
        display: block;
    }
}

.test_09 {
    .custom-description {
        color: rgba(255, 255, 255, 0.7);
        display: block;
        font-size: 12px;
    }

    .subscription-info {
        align-items: center;
        display: flex;
    }

    .product-option:not(.custom-description) {
        display: none;
    }

    .layout-cart {
        padding-left: 0;
        padding-right: 0;
    }

    .productList-item {
        background: radial-gradient(100% 1437.67% at 100% 54.17%, rgba(0, 50, 220, 0.25) 0%, rgba(255, 0, 0, 0.25) 100%);
        border-radius: 0 0 8px 8px;
        padding: 1px;

        .product {
            background-color: #0a0c11;
            padding: 12px 8px;

            .product-title {
                font-weight: 450;
            }

            .product-figure {
                padding-right: 13px;
            }

            .product-body {
                width: 75%;
            }
        }
    }
}

.saving-banner {
    display: none;
}

.test_21 {
    .saving-banner {
        align-items: center;
        display: flex;
        height: 28px;
        margin-bottom: 24px;
        margin-top: 0;

        .banner-icon {
            align-items: center;
            background: #d40449;
            border-radius: 50%;
            display: flex;
            height: 29px;
            justify-content: center;
            min-width: 29px;
            width: 29px;
        }

        .banner-text {
            align-items: center;
            display: flex;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 17px;
            padding-left: 10px;
        }
    }

    .custom-description {
        color: rgba(255, 255, 255, 0.7);
        display: block;
        font-size: 12px;
    }

    .subscription-info {
        align-items: center;
        display: flex;
    }

    .product-option:not(.custom-description) {
        display: none;
    }

    .layout-cart {
        padding-left: 0;
        padding-right: 0;
    }

    .productList-item {
        background: radial-gradient(100% 1437.67% at 100% 54.17%, rgba(0, 50, 220, 0.25) 0%, rgba(255, 0, 0, 0.25) 100%);
        border-radius: 0 0 8px 8px;
        padding: 1px;

        .product {
            background-color: #0a0c11;
            padding: 12px 8px;

            .product-title {
                font-weight: 450;
            }

            .product-figure {
                padding-right: 13px;
            }

            .product-body {
                width: 75%;
            }
        }
    }
}

.free-shipping-wrapper {
    display: none;
    padding: 16px 0;

    @media screen and (max-width: 767px) {
        padding-top: 0;
    }

    h6.free-shipping-label {
        color: #00e632;
        font-family: 'CircularXXWeb', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 450;
        line-height: 21px;
        text-align: right;
        @media screen and (max-width: 767px) {
            margin-bottom: 24px;
            text-align: center;
        }
    }

    h5.free-shipping-heading {
        color: #fff;
        font-family: Cooper, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.36px;
        line-height: 24px;
    }

    .free-shipping-order ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0;

        li {
            align-items: center;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            position: relative;

            &::after {
                border-bottom: 2px dotted #d40449;
                content: " ";
                height: 0;
                position: absolute;
                right: 50%;
                top: 70px;
                width: 100%;
                @media screen and (max-width: 767px) {
                    top: 60px;
                }
            }

            &:first-child::after {
                left: 50%;
            }

            &:nth-child(2)::after {
                left: 31%;
                width: 0;
            }

            &::before {
                background: #0a0c11;
                border: 1px solid #fff;
                border-radius: 50%;
                content: " ";
                height: 8px;
                position: absolute;
                right: 48%;
                top: 67px;
                width: 8px;
                z-index: 123;
                @media screen and (max-width: 767px) {
                    top: 57px;
                }
            }

            .shipping-icon {
                align-items: center;
                display: flex;
                height: 59px;
                justify-content: center;
                margin-bottom: 24px;

                svg path {
                    fill: #d40449;
                }
                @media screen and (max-width: 767px) {
                    height: 45px;

                    svg {
                        height: 48px;
                    }
                }
            }

            span {
                color: #fff;
                font-family: 'CircularXXWeb', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 450;
                line-height: 21px;
                text-align: center;
                width: 105px;
                @media screen and (max-width: 767px) {
                    font-size: 14px;
                    width: 97px;
                }
            }
        }
    }
}

body.test_23 {
    .free-shipping-wrapper {
        display: block;
    }
}
