@import "../ui/Base";

.dropdown--select {
    cursor: pointer;
    position: relative;
}

.dropdown-toggle--select {
    color: $input-font-color;
    margin-bottom: 0;
    min-height: 3rem;
    padding: $buttonSize-default-verticalPadding $input-horizontalPadding;
    text-align: left;
    text-transform: none;
    width: 100%;

    &:focus,
    &:hover {
        border-color: $select-focus-borderColor;
    }
}

.dropdown-menu-item--select {
    border-bottom: container("border");

    :last-of-type {
        border-bottom: 0;
    }

    &:focus {
        border: container("border");
        border-color: color("highlight");
        outline: none;
    }
}
