// =============================================================================
// FOUNDATION COMPONENTS
// =============================================================================

// Global
@import "foundation/global/component";

// Typography
@import "foundation/type/component";

// Buttons
@import "foundation/buttons/component";

// Forms
@import "foundation/forms/component";

// Alerts
@import "foundation/alerts/component";

// Modal
@import "foundation/modal/component";

// Table
@import "foundation/table/component";

// =============================================================================
// BIGCOMMERCE COMPONENTS
// =============================================================================

// Forms
@import "bigcommerce/forms/component";

// Forms
@import "bigcommerce/forms-ccFields/component";

// Icons
@import "bigcommerce/icons/component";

// Loading
@import "bigcommerce/loading/component";

// =============================================================================
// CHECKOUT COMPONENTS
// =============================================================================

// Animation
@import "checkout/animation/component";

// Credit Card Types
@import "bigcommerce/credit-card-types/component";

// Card Icon
@import "checkout/cardIcon/component";

// CartDrawer
@import "checkout/cartDrawer/component";

// CartModal
@import "checkout/cartModal/component";

// ChangeHighligh
@import "checkout/changeHighlight/component";

// Checklist
@import "checkout/checklist/component";

// Checkout Address
@import "checkout/checkoutAddress/component";

// Checkout Cart
@import "checkout/checkoutCart/component";

// Consignment
@import "checkout/consignment/component";

// Customer
@import "checkout/customer/component";

// Checkout Customer Remote
@import "checkout/checkoutRemote/component";

// Checkout Header
@import "checkout/checkoutHeader/component";

// Checkout Steps
@import "checkout/checkoutSteps/component";

// Checkout Customer Suggestion
@import "checkout/checkoutSuggestion/component";

// GenericModal
@import "checkout/genericModal/component";

// Checkout Instrument Modal
@import "checkout/instrumentModal/component";

// Checkout Instrument Select
@import "checkout/instrumentSelect/component";

// Checkout Loading Spinner
@import "checkout/loadingSpinner/component";

// Checkout Payment Provider
@import "checkout/paymentProvider/component";

// Checkout Product List
@import "checkout/productList/component";

// Spam Protection
@import "checkout/spamProtection/component";

// Checkout Store Credit
@import "checkout/storeCredit/component";

// Checkout Order Confirmation
@import "checkout/orderConfirmation/component";

// Checkout Widget
@import "checkout/widget/component";

// SignOut Link Component
@import "checkout/signoutLink/component";

// Dynamic Form Fields Component
@import "checkout/dynamicFormField/component";

// Checkout Ach
@import "checkout/achForm/component";

//Checkout Ratepay
@import "checkout/ratepayForm/component";
