@import '../../../../node_modules/@bigcommerce/citadel/src/settings/global/global';

.errorCode {
    font-size: fontSize("tiny");

    .errorCode-value {
        opacity: 0.4;
        word-break: break-word;
    }
}
