@import '../ui/Base';

.staticConsignment {
    width: 100%;
}

.staticConsignmentContainer {
    ul {
        list-style: none;
        margin: 0;
    }

    & + .staticConsignmentContainer {
        margin-top: spacing("single");
        padding-top: spacing("single");
    }
}

.staticConsignment-items {
    margin: spacing("quarter") 0;
}
