// optimizedCheckout-headingPrimary
.header-active {
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 700;
}

.header-inactive {
    color: #757575;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 700;
}

// optimizedCheckout-headingSecondary
.header-secondary {
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
}

