@import '../Base.scss';

.form-checklist-checkbox ~ .form-label {
    color: inherit;
    display: block;
    font-size: $checklist-label-fontSize;
    line-height: 2.2;
    margin-bottom: 0;
    min-height: $checklist-label-height;
    padding: $checklist-spacing $checklist-spacingRight $checklist-spacing $checklist-spacingLeft--small;
    position: relative;

    @include breakpoint("small") {
        padding-left: $checklist-spacingLeft;
    }

    &::before,
    &::after {
        @include square(26px);

        background-color: $input-bg-color;
        border-radius: 100%;
        bottom: 0;
        content: "";
        left: $checklist-pip-spacing--small;
        margin: auto;
        position: absolute;
        top: 0;

        @include breakpoint("small") {
            left: $checklist-pip-spacing;
        }
    }

    &::after {
        transform: scale(0.66);
    }

    &::before {
        border: $input-border-width $input-border-style $input-border-color;
    }
}

.form-checklist-checkbox {
    @include u-hidden("visually");

    &:focus ~ .form-label {
        box-shadow: $checklist-focus-boxShadow;
    }

    &:checked ~ .form-label::before {
        border-color: color("highlight");
    }

    &:checked ~ .form-label::after {
        background-color: color("highlight");
    }
}
