// =============================================================================
// CHECKOUT STEPS (Component)
// =============================================================================

// Checkout Step
//
// 1. Very specific visual problem which can't be solved by generic breakpoints
// The form just gets too squashed between large and before xlarge when in 2 column
// -----------------------------------------------------------------------------
.checkout-steps {
    counter-reset: $checkoutStep-counter;
    list-style-type: none;
    margin: 0;

    @include breakpoint("medium") {
        padding-right: (spacing("double") + spacing("double"));
    }
}

.checkout-step {
    border-bottom: container("border");
    padding: spacing("single") 0;

    &:last-child {
        border: 0;
    }
}

.checkout-view-header {
    margin-bottom: remCalc(10px);

    &:last-child {
        margin-bottom: 0;
    }
}

#checkout-shipping-options {
    .checklist-skeleton {
        margin-left: 0;
    }
}

.checkout-view-content {
    .checklist-skeleton {
        border-radius: $global-radius;

        ul {
            border-bottom: container("border", "dark");
            display: flex;
            height: $checklist-label-height;
            justify-content: flex-start;
            margin-left: 0;
            padding-left: $checklist-spacingLeft--small;
            padding-right: $checklist-spacingRight;
            padding-top: $checklist-pip-spacing-top;
            position: relative;

            @include breakpoint("small") {
                padding-left: $checklist-spacingLeft;
            }
        }

        ul:last-child {
            border-bottom: none;
        }

        .checklist-skeleton-circle {
            @include square(26px);

            background-color: color("greys", "lightest");
            border-radius: 100%;
            left: $checklist-pip-spacing--small;
            position: absolute;
            top: $checklist-pip-spacing-top;

            @include breakpoint("small") {
                left: $checklist-pip-spacing;
            }
        }

        .checklist-skeleton-rectangle,
        .checklist-skeleton-rectangle::before {
            @include square(26px);

            border-radius: $global-radius;
            display: inline-block;
            overflow: hidden;
            position: relative;
            width: 100%;
        }

        .checklist-skeleton-rectangle::before {
            animation: checklist-loading-keyframes 1.5s infinite;
            animation-timing-function: cubic-bezier(0.13, 0.615, 0.315, 0.915);
            background: color("greys", "lighter");
            bottom: 0;
            content: ' ';
            display: block;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            will-change: left, width;
        }

        @keyframes checklist-loading-keyframes {
            0% {
                background: color("greys", "lighter");
                left: 0;
                width: 0;
            }

            50% {
                background: color("greys", "light");
                left: 0;
                width: 100%;
            }

            100% {
                background: color("greys", "light");
                left: 100%;
                width: 0;
            }
        }
    }

    @include breakpoint("large") {
        @include collapse;
    }
}

.checkout-step-info {
    margin-bottom: spacing("single");
}

.checkout-form,
.checklist-skeleton {
    margin: 0;

    @include breakpoint("small") {
        margin-left: remCalc($checkoutStep-counter-size) + $checkoutStep-header-figure-margin;
    }

    @include breakpoint("large") {
        margin-left: 0;
    }

    @include breakpoint(1080px) {
        margin-left: remCalc($checkoutStep-counter-size) + $checkoutStep-header-figure-margin;
    }
}

// Checkout Step Counter
// -----------------------------------------------------------------------------
.stepHeader-counter {
    @include square($checkoutStep-counter-size);

    background-color: color("primary");
    border-radius: 50%;
    text-align: center;
    transition: transform 250ms ease;

    &::before {
        @include square($checkoutStep-counter-size);

        color: $checkoutStep-counter-color;
        content: counter($checkoutStep-counter);
        counter-increment: $checkoutStep-counter;
        display: inline-block;
        font-size: fontSize("small");
        line-height: #{$checkoutStep-counter-size}px;
        text-align: center;
    }

    svg {
        display: none;
        fill: $checkoutStep-counter-color;
        padding: $checkoutStep-counter-padding;
    }
}

.stepHeader-counter--complete {
    transform: scale(0.8);

    &::before {
        @include square(0);

        content: "";
    }

    svg {
        display: inline-block;
        padding: $checkoutStep-counter-padding--small;
    }
}

// Checkout Step Header
// -----------------------------------------------------------------------------
.stepHeader {
    align-items: top;
    display: flex;
    flex-wrap: wrap;
    padding: spacing("single") 0;

    @include breakpoint("small") {
        flex-wrap: nowrap;
    }

    @include breakpoint("large") {
        flex-wrap: nowrap;
    }

    &.is-clickable {
        cursor: pointer;
    }
}

.stepHeader-figure {
    align-items: center;
    display: flex;
    height: remCalc($checkoutStep-counter-size);
    margin-right: $checkoutStep-header-body-margin;
}

.stepHeader-title {
    margin: 0 0 0 $checkoutStep-header-figure-margin;
    min-width: 9rem;
}

.stepHeader-body {
    @include textTruncateMultiline;

    color: color("primary");
    margin-left: remCalc($checkoutStep-counter-size) + $checkoutStep-header-figure-margin;
    margin-top: remCalc(10px);
    order: 3;
    width: 100%;

    @include breakpoint("small") {
        margin-left: 0;
        order: inherit;
    }

    @include breakpoint("medium") {
        margin-left: remCalc($checkoutStep-counter-size) + $checkoutStep-header-figure-margin;
    }

    @include breakpoint("large") {
        margin-left: 0;
    }
}

.stepHeader-actions {
    align-self: flex-start;
    margin-left: auto;
    margin-top: remCalc(5px);

    @include breakpoint("small") {
        margin-left: $checkoutStep-header-actions-margin;
    }

    .button {
        margin-bottom: 0;
    }
}

.checkout-suggestion {
    margin: 0;

    @include breakpoint("small") {
        margin-left: remCalc($checkoutStep-counter-size) + $checkoutStep-header-figure-margin;
    }

    @include breakpoint("large") {
        margin-left: 0;
    }

    @include breakpoint(1080px) {
        margin-left: remCalc($checkoutStep-counter-size) + $checkoutStep-header-figure-margin;
    }
}
