// ============================================================================
// CHECKOUT COMPONENT SETTINGS
// =============================================================================

@import "animation/settings";

@import "cartDrawer/settings";

@import "checklist/settings";

@import "checkoutAddress/settings";

@import "checkoutCart/settings";

@import "checkoutSteps/settings";

@import "customer/settings";

@import "dropdownSelect/settings";

@import "paymentProvider/settings";

@import "paymentStep/settings";
