.idea
.vscode
.DS_Store
junit.xml
__temp__
node_modules
build
coverage
/dist-tools
/packages/**/generated
/packages/test-framework/report
/packages/test-framework/screenshots
/packages/test-framework/videos
