.idea
.vscode
__temp__
node_modules
build
coverage
/dist-tools
/packages/**/generated
/packages/payment-integration-test-framework/report
/packages/payment-integration-test-framework/screenshots
/packages/payment-integration-test-framework/videos
