.main {

    .address{
        margin-bottom: 10px;
        white-space: initial;
        line-break: anywhere;
        resize: none;
    }

    .QR {
        display: block;
        width: 100%;
        height: auto;
        max-width: 200px;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 30px;
    }
}