{
  "log": {
    "_recordingName": "sample ",
    "creator": {
      "comment": "persister:CustomFSPersister",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "e30b627241dbc3f9a54d87376374bf79",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "*"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"customer\":{\"geo_ip_country_code\":\"\",\"session_token\":\"*\"},\"notify_url\":\"https://internalapi-10000455.store.bcdev/internalapi/v1/checkout/order/321/payment\",\"order\":{\"billing_address\":{\"city\":\"NEW YORK\",\"country_code\":\"US\",\"country\":\"United States\",\"first_name\":\"BAD\",\"last_name\":\"ROBOT\",\"state_code\":\"NY\",\"state\":\"New York\",\"street_1\":\"1000 5TH Ave\",\"zip\":\"10028\",\"email\":\"test@robot.com\"},\"coupons\":[],\"currency\":\"USD\",\"id\":\"321\",\"items\":[{\"code\":\"122bf67d-bbeb-4e00-9ac6-0440bd356ecd\",\"variant_id\":66,\"name\":\"[Sample] Able Brewing System\",\"price\":22500,\"unit_price\":22500,\"quantity\":1,\"sku\":\"ABS\"}],\"shipping\":[{\"method\":\"Free Shipping\"}],\"shipping_address\":{\"city\":\"NEW YORK\",\"country_code\":\"US\",\"country\":\"United States\",\"first_name\":\"BAD\",\"last_name\":\"ROBOT\",\"state_code\":\"NY\",\"state\":\"New York\",\"street_1\":\"1000 5TH Ave\",\"zip\":\"10028\"},\"token\":\"be5e0c87e7eff4362037124707250703\",\"totals\":{\"grand_total\":22500,\"handling\":0,\"shipping\":0,\"subtotal\":22500,\"tax\":0}},\"payment\":{\"gateway\":\"bigpaypay\",\"notify_url\":\"https://internalapi-10000455.store.bcdev/internalapi/v1/checkout/order/321/payment\",\"vault_payment_instrument\":false,\"method\":\"zzzblackhole\",\"credit_card\":{\"account_name\":\"BAD ROBOT\",\"month\":11,\"number\":\"4111111111111111\",\"verification_value\":\"111\",\"year\":2023,\"hosted_form_nonce\":\"\"}},\"store\":{\"hash\":\"m1krj3d4yv\",\"id\":\"10000455\",\"name\":\"My Dev Store 745516528\"}}"
          },
          "queryString": [],
          "url": "https://my-dev-store-745516528.store.bcdev/api/public/v1/orders/payments"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
          ],
          "status": 405,
          "statusText": "Method Not Allowed"
        },
        "time": 19,
      },
      {
        "_id": "36e73c68922bce7cc1ad105719d8fcc3",
        "request": {
          "headers": [
            {
              "name": "x-api-internal",
              "value": "This API endpoint is for internal use only and may change in the future"
            },
            {
              "name": "x-checkout-sdk-version",
              "value": "1.242.1"
            },
            {
              "name": "x-xsrf-token",
              "value": "*"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://my-dev-store-745516528.store.bcdev/api/storefront/form-fields"
        },
        "response": {
          "content": {
            "encoding": "utf8",
            "mimeType": "application/json",
            "size": 4024,
            "text": "{\"billingAddress\":[{\"id\":\"field_4\",\"name\":\"firstName\",\"custom\":false,\"label\":\"First Name\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_5\",\"name\":\"lastName\",\"custom\":false,\"label\":\"Last Name\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_6\",\"name\":\"company\",\"custom\":false,\"label\":\"Company Name\",\"required\":false,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_7\",\"name\":\"phone\",\"custom\":false,\"label\":\"Phone Number\",\"required\":false,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_8\",\"name\":\"address1\",\"custom\":false,\"label\":\"Address Line 1\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_9\",\"name\":\"address2\",\"custom\":false,\"label\":\"Address Line 2\",\"required\":false,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_10\",\"name\":\"city\",\"custom\":false,\"label\":\"Suburb\\/City\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_11\",\"name\":\"countryCode\",\"custom\":false,\"label\":\"Country\",\"required\":true,\"default\":null,\"maxLength\":null,\"type\":\"array\",\"fieldType\":\"dropdown\",\"options\":{\"helperLabel\":\"Choose a Country\",\"items\":[]}},{\"id\":\"field_12\",\"name\":\"stateOrProvince\",\"custom\":false,\"label\":\"State\\/Province\",\"required\":true,\"default\":null,\"maxLength\":null},{\"id\":\"field_13\",\"name\":\"postalCode\",\"custom\":false,\"label\":\"Zip\\/Postcode\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"}],\"shippingAddress\":[{\"id\":\"field_14\",\"name\":\"firstName\",\"custom\":false,\"label\":\"First Name\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_15\",\"name\":\"lastName\",\"custom\":false,\"label\":\"Last Name\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_16\",\"name\":\"company\",\"custom\":false,\"label\":\"Company Name\",\"required\":false,\"default\":\"\",\"maxLength[...]
