// =============================================================================
// CARD ICON (Component)
// =============================================================================

.cardIcon-icon {
    position: relative;

    svg {
        fill: none;
    }
}

.cardIcon-icon--default {
    background: url("../static/svg/card.svg") no-repeat center center;
}
