{
  "log": {
    "_recordingName": "Multi Shipping with Customer checkout",
    "creator": {
      "comment": "persister:CustomFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3f87bb23d79c8bef5c6840e20cf65aac",
        "request": {
          "headers": [
            {
              "name": "x-api-internal",
              "value": "This API endpoint is for internal use only and may change in the future"
            },
            {
              "name": "x-sf-csrf-token",
              "value": "a41ed8f3-485d-4198-b49f-73bbb2a1ffe6"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://4241.project/api/storefront/form-fields"
        },
        "response": {
          "content": {
            "encoding": "utf8",
            "mimeType": "application/json",
            "size": 6852,
            "text": "{\"billingAddress\":[{\"id\":\"field_4\",\"name\":\"firstName\",\"custom\":false,\"label\":\"First Name\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_5\",\"name\":\"lastName\",\"custom\":false,\"label\":\"Last Name\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_6\",\"name\":\"company\",\"custom\":false,\"label\":\"Company Name\",\"required\":false,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_7\",\"name\":\"phone\",\"custom\":false,\"label\":\"Phone Number\",\"required\":false,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_8\",\"name\":\"address1\",\"custom\":false,\"label\":\"Address Line 1\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_9\",\"name\":\"address2\",\"custom\":false,\"label\":\"Address Line 2\",\"required\":false,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_10\",\"name\":\"city\",\"custom\":false,\"label\":\"Suburb\\/City\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_11\",\"name\":\"countryCode\",\"custom\":false,\"label\":\"Country\",\"required\":true,\"default\":null,\"maxLength\":null,\"type\":\"array\",\"fieldType\":\"dropdown\",\"options\":{\"helperLabel\":\"Choose a Country\",\"items\":[]}},{\"id\":\"field_12\",\"name\":\"stateOrProvince\",\"custom\":false,\"label\":\"State\\/Province\",\"required\":true,\"default\":null,\"maxLength\":null},{\"id\":\"field_13\",\"name\":\"postalCode\",\"custom\":false,\"label\":\"Zip\\/Postcode\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_28\",\"name\":\"field_28\",\"custom\":true,\"label\":\"Date\",\"required\":false,\"default\":\"\",\"maxLength\":null,\"type\":\"date\",\"fieldType\":\"date\",\"min\":\"\",\"max\":\"\"},{\"id\":\"field_30\",\"name\":\"field_30\",\"custom\":true,\"label\":\"Multiline Text Field\",\"required\":false,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"multiline\",\"options\":{\"rows\":\"3\"}},{\"id\":\"field_32\",\"name\":\"field_32\",\"custom\":true,\"label\":\"Number only field\",\"required\":false,\"default\":null,\"maxLength\":null,\"type\":\"integer\",\"fieldType\":\"text\",\"min\":null,\"max\":null},{\"id\":\"field_34\",\"name\":\"field_34\",\"custom\":true,\"label\":\"Radio Button\",\"required\":false,\"default\":null,\"maxLength\":null,\"type\":\"array\",\"fieldType\":\"radio\",\"options\":{\"items\":[{\"value\":\"0\",\"label\":\"A\"},{\"value\":\"1\",\"label\":\"B\"},{\"value\":\"2\",\"label\":\"C\"},{\"value\":\"3\",\"label\":\"D\"}]}},{\"id\":\"field_36\",\"name\":\"field_36\",\"custom\":true,\"label\":\"Additional Text Field\",\"required\":false,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_38\",\"name\":\"field_38\",\"custom\":true,\"label\":\"Pick list\",\"required\":false,\"default\":null,\"maxLength\":null,\"type\":\"array\",\"fieldType\":\"dropdown\",\"options\":{\"helperLabel\":\"Please tick some options\",\"items\":[{\"value\":\"0\",\"label\":\"A\"},{\"value\":\"1\",\"label\":\"B\"},{\"value\":\"2\",\"label\":\"C\"},{\"value\":\"3\",\"label\":\"D\"},{\"value\":\"4\",\"label\":\"E\"},{\"value\":\"5\",\"label\":\"F\"},{\"value\":\"6\",\"label\":\"G\"},{\"value\":\"7\",\"label\":\"H\"}]}}],\"shippingAddress\":[{\"id\":\"field_14\",\"name\":\"firstName\",\"custom\":false,\"label\":\"First Name\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_15\",\"name\":\"lastName\",\"custom\":false,\"label\":\"Last Name\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_16\",\"name\":\"company\",\"custom\":false,\"label\":\"Company Name\",\"required\":false,\"default\":\"\",\"maxLength[...]
