// =============================================================================
// FORMS
// =============================================================================

// Bigcommerce forms
// -----------------------------------------------------------------------------
//
// Purpose: Provide any additional styling to Bigcommerce form components
// that citadel does not provide out of the box
//
// -----------------------------------------------------------------------------

//
// Check radios
// -----------------------------------------------------------------------------

.form-checkbox + .form-label,
.form-radio + .form-label {
    color: inherit;
}

.form-checkbox:checked + .form-label::before,
.form-radio:checked + .form-label::before {
    background-color: color("highlight");
    border-color: color("highlight");
}

.form-radio:checked + .form-label::after {
    border: none;
    transform: scale(0.5);
}

.formField--helpText {
    color: color("greys");
}

.form-field--error .form-select.floating-select,
.form-field--error .form-select.floating-select:hover,
.form-field--error .form-select.floating-select:focus,
.form-field--error .form-input.floating-input,
.form-field--error .form-input.floating-input:hover,
.form-field--error .form-input.floating-input:focus,
.form-select.floating-select,
.form-select.floating-select:focus,
.form-select.floating-select:hover,
.form-input.floating-input,
.form-input.floating-input:focus,
.form-input.floating-input:hover,
.form-input.optimizedCheckout-form-input,
.form-input.optimizedCheckout-form-input:focus,
.form-input.optimizedCheckout-form-input:hover {
    box-shadow: none;
    -webkit-box-shadow: none;
}
