// =============================================================================
// FORM CREDIT CARD FIELDS
// =============================================================================

.form-ccFields {
    margin: 0 -1 * spacing("half");
}

.form-ccFields > .form-field,
.form-ccFields > .form-ccFields-field {
    display: block;
    flex-grow: 1;
    margin-bottom: spacing("base");
    max-width: none !important;
    padding: 0 spacing("half");
}

.form-ccFields--without-card-name:not(.form-ccFields--without-card-code) {
    .form-field--ccNumber {
        flex-basis: 100%;
    }

    .form-field--ccExpiry,
    .form-ccFields-field--ccCvv {
        flex-basis: 50%;
    }
}

.form-field--ccNumber,
.form-field--ccName {
    flex-basis: 65%;
}

.form-field--ccDocument {
    flex-basis: 100%;
    order: 4;
}

.form-field--stripe-ccNumber {
    flex-basis: 100%;
}

.form-field--bolt-embed {
    flex-basis: 100%;
    height: remCalc(110px);
}

.form-field--createAccount {
    height: auto;
}

.mollie {
    &-full {
        flex-basis: 100%;
    }

    &-aside {
        flex: 1 0 0;
    }
}

.form-field--ccNumber--hasExpiryDate {
    flex-basis: 50%;
}

.form-field-ccNumber--hide {
    display: none !important;
}

.form-ccFields-field--ccCvv,
.form-field--ccExpiry {
    flex-basis: 1%;
    min-width: remCalc(100px);
}

.form-ccFields-field--ccCvv {
    order: 4;
}

.form-field--postCode {
    flex-basis: 100%;
    order: 5;
}

.form-field--stripe-postalCode {
    flex-basis: 1%;
    order: 5;
}

.form-field--ccAdditionalField {
    flex: 100%;
    order: 99;
}

.form-field--saveInstrument {
    order: 6;
}

.form-field--setAsDefaultInstrument {
    order: 7;
}
