// Flex utilities

@include themeV2 {
    .flex {
        display: flex;
    }

    .flex-row {
        display: flex;
        flex-direction: row;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
    }
}
