// =============================================================================
// CHECKOUT CART (Settings)
// =============================================================================

$checkoutCart-borderRadius: $global-radius;
$checkoutCart-minHeight: 300px;
$checkoutCart-padding: spacing("single");
