$color-secondaryDark:               #fcfcfc;
$color-secondaryDarker:             #f5f5f5;
$color-secondaryDarkest:            #757575;
$color-highlight:                   #4496f6;
$color-highlightDarkest:            #476BEF;
$color-white:                       #ffffff;
$color-greyMedium:                  #dddddd;
$color-black:                       #000000;
