{
  "log": {
    "_recordingName": "Bolt Embedded One Click Checkout",
    "creator": {
      "comment": "persister:CustomFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3f87bb23d79c8bef5c6840e20cf65aac",
        "request": {
          "headers": [
            {
              "name": "x-api-internal",
              "value": "This API endpoint is for internal use only and may change in the future"
            },
            {
              "name": "x-sf-csrf-token",
              "value": "dc8f9c9c-b618-4856-aef5-33fa7e9b4aa5"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://4241.project/api/storefront/form-fields"
        },
        "response": {
          "content": {
            "encoding": "utf8",
            "mimeType": "application/json",
            "size": 4024,
            "text": "{\"billingAddress\":[{\"id\":\"field_4\",\"name\":\"firstName\",\"custom\":false,\"label\":\"First Name\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_5\",\"name\":\"lastName\",\"custom\":false,\"label\":\"Last Name\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_6\",\"name\":\"company\",\"custom\":false,\"label\":\"Company Name\",\"required\":false,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_7\",\"name\":\"phone\",\"custom\":false,\"label\":\"Phone Number\",\"required\":false,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_8\",\"name\":\"address1\",\"custom\":false,\"label\":\"Address Line 1\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_9\",\"name\":\"address2\",\"custom\":false,\"label\":\"Address Line 2\",\"required\":false,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_10\",\"name\":\"city\",\"custom\":false,\"label\":\"Suburb\\/City\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_11\",\"name\":\"countryCode\",\"custom\":false,\"label\":\"Country\",\"required\":true,\"default\":null,\"maxLength\":null,\"type\":\"array\",\"fieldType\":\"dropdown\",\"options\":{\"helperLabel\":\"Choose a Country\",\"items\":[]}},{\"id\":\"field_12\",\"name\":\"stateOrProvince\",\"custom\":false,\"label\":\"State\\/Province\",\"required\":true,\"default\":null,\"maxLength\":null},{\"id\":\"field_13\",\"name\":\"postalCode\",\"custom\":false,\"label\":\"Zip\\/Postcode\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"}],\"shippingAddress\":[{\"id\":\"field_14\",\"name\":\"firstName\",\"custom\":false,\"label\":\"First Name\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_15\",\"name\":\"lastName\",\"custom\":false,\"label\":\"Last Name\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_16\",\"name\":\"company\",\"custom\":false,\"label\":\"Company Name\",\"required\":false,\"default\":\"\",\"maxLength[...]
