.fitment-message {
    display: block;
    font-size: 14px;
    margin-bottom: 20px;
}

.fitment-wrapper {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-top: 1rem;
    max-height: 600px;
    overflow-y: scroll;
}

.fitment-item-wrapper {
    border-bottom: 1px solid #ccc;
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;

    .details {
        flex-basis: 50%;

        div {
            display: block;
            margin-top: 5px;
        }

        div:first-child {
            margin-top: 0;
        }

        .url {
            display: block;
            margin-top: 15px;
        }
    }

    .estimate {
        align-items: center;
        display: flex;
        flex-basis: 40%;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        .partner-logo {
            margin-top: 1rem;
            width: 8rem;
        }
    }

    .radio {
        align-items: center;
        display: flex;
        flex-basis: 10%;
        justify-content: center;
    }
}

.fitment-item-wrapper:last-child {
    border-bottom: none;
}

// .fitment-item-wrapper:hover {
//     background-color: #eee;
// }

.fitment-places-wrapper {
    position: relative;

    .places-label {
        margin-top: 0.5rem;
    }

    .places-input-wrapper {
        button:hover {
            background-color: #fee;
        }

        display: flex;
        width: 100%;

        input {
            border: 1px solid #000;
            padding: 0.5rem;
            width: 100%;
        }

        button {
            border: 1px solid #000;
            border-left: none;
            color: #c00;
            cursor: pointer;
        }
    }

    .places-suggestions {
        background: #fff;
        border: 1px solid #ccc;
        border-bottom: 0;
        border-top: 0;
        position: absolute;
        width: 100%;
        z-index: 99;

        div {
            border: 1px solid #000;
            border-top: none;
            cursor: pointer;
            padding: 0.5rem;
        }

        div:hover {
            background: #eee;
        }
    }
}

.fitment-view-selector {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;

    div {
        border: 2px solid #ec1c29;
        cursor: pointer;
        flex-basis: 50%;
        font-weight: bold;
        padding: 0.5rem;
        text-align: center;
        text-transform: uppercase;
    }

    .selected {
        background-color: #ec1c29;
        color: #fff;
    }
}

.fitment-map-wrapper {
    height: 500px;
    margin-top: 1rem;
    position: relative;
    width: 100%;

    .info-box {
        // bg-white p-3 w-80 bottom-10 -left-36 absolute text-sm rounded-lg shadow-xl info-box
        background-color: #fff;
        border-radius: 0.5rem;
        bottom: 1rem;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
        left: -9rem;
        padding: 1rem;
        position: absolute;
        width: 20rem;
        z-index: 99;

        //flex flex-row text-lg font-bold justify-between
        .info-name {
            display: flex;
            flex-direction: row;
            font-size: 1rem;
            justify-content: space-between;
            padding-right: 10px;
            position: relative;

            h4 {
                font-size: 1.5rem;
                margin-bottom: 0;
            }

            .close-button {
                border: 1px solid #000;
                cursor: pointer;
                padding: 1px 4px;
                position: absolute;
                right: 0;
            }

            .close-button:hover {
                background-color: #eee;
                color: #a00;
            }
        }

        //flex flex-row mt-3 items-center
        .info-address {
            display: flex;
            flex-direction: row;
            margin-top: 0.75rem;
        }

        .info-phone {
            display: flex;
            flex-direction: row;
            margin-top: 0.75rem;

            span {
                display: block;
                margin-right: 5px;
            }
        }
    }
}

.fitment-map-marker {
    .image-wrapper {
        height: 30px;
        width: 30px;
    }
}
