// =============================================================================
// CREDIT CARD TYPES (Settings)
// =============================================================================

// Bigcommerce Variables
// -----------------------------------------------------------------------------
//
// These scoped variables are created by Bigcommerce.
// All variables that are not from Foundation should be placed here.
//
// 1. Choose whether to include the Bigcommerce class names
//
// -----------------------------------------------------------------------------

$exportCSS--credit-card-types: true;
$credit-card-items-max-width: 17rem;
$credit-card-items-width: 3rem;
