// =============================================================================
// V2 Form Styles
// =============================================================================

@include enhancedThemeV1 {
    .form-input, .form-select {
        border-radius: $element-border-radius;
    }

    .floating-select,
    .floating-input {
        border-radius: $element-border-radius;
    }

    .form-checklist-checkbox~.form-label {
        &::after {
            transform: scale(0.36);
        }
    }

    .floating-label {
        &.floating-form-field-label {
            font-family: $fontFamily-montserrat;
            font-size: $fontSize-smallest;
            font-weight: $fontWeight-medium;
            margin-top: spacing("eighth");

            small {
                font-size: $fontSize-smallest;
            }
        }
    }

    .react-datepicker__tab-loop + .floating-label,
    .react-datepicker-wrapper + .floating-label,
    select + .floating-label,
    textarea:focus + .floating-label,
    textarea:not(:empty) + .floating-label,
    input:focus + .floating-label,
    input:not(:placeholder-shown) + .floating-label,
    .iti-wrapper + .floating-label {
        &.floating-form-field-label{
            font-family: $fontFamily-montserrat;
            font-size: $fontSize-tiny;
            font-weight: $fontWeight-medium;
            margin-top: 0;

            small {
                font-size: $fontSize-tiny;
            }
        }
    }

    .checkout-step--payment .form-field .form-label.body-medium {
        font-size: $fontSize-tiny;
    }

    .form-legend.sub-header {
        margin-bottom: 0;
    }
}
