@import "../ui/Base";

.create-account-form {
    display: flex;
    flex-flow: row wrap;
    margin-left: -1 * spacing("half");
    margin-right: -1 * spacing("half");

    .dynamic-form-field {
        display: block;
        flex: 1;
        flex-basis: 100%;
        margin-bottom: spacing("half");
        max-width: 100%;
        padding: 0 spacing("half");

        &:last-child {
            margin-bottom: 0;
        }
    }

    .dynamic-form-field--firstName,
    .dynamic-form-field--lastName {
        @include breakpoint("small") {
            flex-basis: 50%;
        }
    }

    .dynamic-form-field.floating-form-field {
        padding: 0 0.5 * $floating-form-field-spacing;
    }
}

.create-account-form:has(.floating-form-field) {
    margin-left: -0.5 * $floating-form-field-spacing;
    margin-right: -0.5 * $floating-form-field-spacing;
}
