.paypal-commerce-axo-instrument {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;

    &-details {
        display: flex;
        align-items: center;
    }

    &-branding {
        margin-top: -8px;
    }
}


