// =============================================================================
// SOCIAL BADGE
// ==============================================================================

$socialBadge-height: 36px;
$socialBadge-border-color: rgba(255, 255, 255, 0.3);
$socialBadge-font-color: color("whites", "bright");
$socialBadge-facebook-color: #12408e;
$socialBadge-facebook-color--hover: #0e316d;
$socialBadge-googlePlus-color: #f15e31;
$socialBadge-googlePlus-color--hover: #d23c0e;
$socialBadge-twitter-color: #59adec;
$socialBadge-twitter-color--hover: #2793e6;
