@include themeV2 {
    // optimizedCheckout-headingPrimary
    .header, .header-secondary, .sub-header {
        color: $color-black;
        font-family: $fontFamily-montserrat;
        font-size: $fontSize-large;
        font-weight: $fontWeight-bold;
    }

    .header-secondary {
        color: $color-secondaryDarkest;
    }

    // optimizedCheckout-headingSecondary
    .sub-header {
        font-size: $fontSize-smaller;
    }

    // optimizedCheckout-contentPrimary
    .body-regular, .body-cta, .body-medium, .body-bold {
        color: $color-black;
        font-family: $fontFamily-montserrat;
        font-size: $fontSize-base;
        font-weight: $fontWeight-normal;
    }

    .body-cta {
        color: $color-highlightDarkest;
    }

    .body-medium {
        font-weight: $fontWeight-medium;
    }

    .body-bold {
        font-weight: $fontWeight-bold;
    }

    .sub-text, .sub-text-medium, .sub-text-bold {
        color: $color-black;
        font-family: $fontFamily-montserrat;
        font-size: $fontSize-tiny;
        font-weight: $fontWeight-normal;
    }

    .sub-text-medium {
        color: $color-secondaryDarkest;
        font-weight: $fontWeight-medium;
    }

    .sub-text-bold {
        font-weight: $fontWeight-bold;
    }

    // overrides
    .body-bold, .body-medium, .sub-header {
        &.button--primary:not(:disabled){
            color: $color-white;
        }
    }

    .form-checkbox + .form-label,
    .form-radio + .form-label {
        &.body-regular {
            color: $color-black;
            font-size: $fontSize-base;
            font-weight: $fontWeight-normal;
        }
    }

    .shippingOptionLabel, .shippingOption--selected {
        .shippingOption-price, .shippingOption-desc {
            &.body-medium {
                font-size: $fontSize-base;
                font-weight: $fontWeight-medium;
            }
        }
    }

    .body-medium {
        small {
            color: $color-black;
            font-family: $fontFamily-montserrat;
            font-size: $fontSize-base;
            font-weight: $fontWeight-medium;
        }
    }

    .add-consignment-button {
        &.body-regular {
            color: $color-black;
        }
    }

    .consignment-line-item-list li .body-regular {
        .line-item-options {
            color: $color-secondaryDarkest;
        }
    }

    &.modal.modal--afterOpen {
        background-color: $color-white;

        &.allocate-items-modal .modal-body {
            .left-to-allocate-items-table .left-to-allocate-item-name-container {
                .left-to-allocate-item-name {
                    &.body-regular {
                        font-weight: fontWeight("normal");
                        color: $color-black;
                    }
                }

                .left-to-allocate-item-option {
                    &.sub-text-medium {
                        font-size: fontSize("tiny");
                    }
                }
            }

            .allocated-line-items .allocated-line-items-list li {
                .body-regular {
                    .line-item-options {
                        color: $color-secondaryDarkest;
                    }
                }
            }
        }
    }

    .staticMultiConsignment {
        .staticMultiConsignment-header {
            &.body-bold {
                font-size: fontSize("base");
            }
        }

        .staticConsignment-items {
            .sub-text {
                .line-item-options {
                    color: $color-secondaryDarkest;
                }
            }
        }
    }
}
