{
  "log": {
    "_recordingName": "Shipping with different billing address",
    "creator": {
      "comment": "persister:CustomFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1fb1ed9e168552e08b23dd136e43c401",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "include",
              "value": "cart.lineItems.physicalItems.options,cart.lineItems.digitalItems.options,customer,customer.customerGroup,payments,promotions.banners,cart.lineItems.physicalItems.categoryNames,cart.lineItems.digitalItems.categoryNames"
            }
          ],
          "url": "https://4241.project/api/storefront/checkout/3ece009f-d30a-434b-872f-dc3ae21f72be?include=cart.lineItems.physicalItems.options%2Ccart.lineItems.digitalItems.options%2Ccustomer%2Ccustomer.customerGroup%2Cpayments%2Cpromotions.banners%2Ccart.lineItems.physicalItems.categoryNames%2Ccart.lineItems.digitalItems.categoryNames"
        },
        "response": {
          "content": {
            "encoding": "utf8",
            "mimeType": "application/json",
            "size": 2047,
            "text": "{\"id\":\"3ece009f-d30a-434b-872f-dc3ae21f72be\",\"cart\":{\"id\":\"3ece009f-d30a-434b-872f-dc3ae21f72be\",\"customerId\":0,\"email\":\"\",\"currency\":{\"name\":\"US Dollars\",\"code\":\"USD\",\"symbol\":\"$\",\"decimalPlaces\":2},\"isTaxIncluded\":false,\"baseAmount\":225,\"discountAmount\":45,\"cartAmount\":180,\"coupons\":[],\"discounts\":[{\"id\":\"e079ac2e-1716-4f7e-9a72-02479b072ed7\",\"discountedAmount\":45}],\"lineItems\":{\"physicalItems\":[{\"id\":\"e079ac2e-1716-4f7e-9a72-02479b072ed7\",\"parentId\":null,\"variantId\":66,\"productId\":86,\"sku\":\"ABS\",\"name\":\"[Sample] Able Brewing System\",\"url\":\"https:\\/\\/my-dev-store-599736595.store.bcdev\\/able-brewing-system\",\"quantity\":1,\"brand\":\"\",\"isTaxable\":true,\"imageUrl\":\"https:\\/\\/luanaovertook-cloud-dev-vm.store.bcdev\\/store\\/yn9yyzrt6v\\/products\\/86\\/images\\/286\\/ablebrewingsystem4.1692600689.190.285.jpg?c=1\",\"discounts\":[{\"id\":4,\"discountedAmount\":45}],\"discountAmount\":0,\"couponAmount\":0,\"originalPrice\":225,\"listPrice\":225,\"salePrice\":225,\"retailPrice\":null,\"extendedListPrice\":225,\"extendedSalePrice\":225,\"comparisonPrice\":225,\"extendedComparisonPrice\":225,\"isShippingRequired\":true,\"giftWrapping\":null,\"addedByPromotion\":false,\"isMutable\":true,\"options\":[],\"categoryNames\":[\"Shop All\",\"Kitchen\"]}],\"digitalItems\":[],\"giftCertificates\":[],\"customItems\":[]},\"createdTime\":\"2023-10-04T04:24:05+00:00\",\"updatedTime\":\"2023-10-04T04:24:06+00:00\",\"locale\":\"en\"},\"billingAddress\":{},\"consignments\":[],\"orderId\":null,\"shippingCostTotal\":0,\"shippingCostBeforeDiscount\":0,\"handlingCostTotal\":0,\"taxTotal\":0,\"giftWrappingCostTotal\":0,\"coupons\":[],\"taxes\":[{\"name\":\"Tax\",\"amount\":0}],\"subtotal\":225,\"grandTotal\":180,\"outstandingBalance\":180,\"isStoreCreditApplied\":true,\"shouldExecuteSpamCheck\":false,\"giftCertificates\":[],\"createdTime\":\"2023-10-04T04:24:05+00:00\",\"updatedTime\":\"2023-10-04T04:24:06+00:00\",\"customerMessage\":\"\",\"channelId\":1,\"fees\":[],\"customer\":{\"id\":0,\"isGuest\":true,\"email\":\"\",\"firstName\":\"\",\"lastName\":\"\",\"fullName\":\"\",\"addresses\":[],\"storeCredit\":0,\"shouldEncourageSignIn\":false,\"customerGroup\":[]},\"promotions\":[],\"payments\":[{}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "l5d-success-class",
              "value": "1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 458,
      },
      {
        "_id": "731e9112a22f7589010537d3acdeaf5b",
        "request": {
          "headers": [
            {
              "name": "x-api-internal",
              "value": "This API endpoint is for internal use only and may change in the future"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "checkoutId",
              "value": "3ece009f-d30a-434b-872f-dc3ae21f72be"
            },
            {
              "_fromType": "array",
              "name": "include",
              "value": "cart.lineItems.physicalItems.categoryNames"
            },
            {
              "_fromType": "array",
              "name": "include",
              "value": "cart.lineItems.digitalItems.categoryNames"
            }
          ],
          "url": "https://4241.project/api/storefront/checkout-settings?checkoutId=3ece009f-d30a-434b-872f-dc3ae21f72be&include=cart.lineItems.physicalItems.categoryNames&include=cart.lineItems.digitalItems.categoryNames"
        },
        "response": {
          "content": {
            "encoding": "utf8",
            "mimeType": "application/json",
            "size": 9425,
            "text": "{\"context\":{\"flashMessages\":[],\"payment\":{\"token\":null},\"checkoutId\":\"3ece009f-d30a-434b-872f-dc3ae21f72be\",\"geoCountryCode\":\"\"},\"customization\":{\"languageData\":[]},\"storeConfig\":{\"cdnPath\":\"https://luanaovertook-cloud-dev-vm.store.bcdev/rHEAD\",\"checkoutSettings\":{\"checkoutBillingSameAsShippingEnabled\":true,\"hasMultiShippingEnabled\":true,\"enableOrderComments\":true,\"enableTermsAndConditions\":false,\"guestCheckoutEnabled\":true,\"isCardVaultingEnabled\":true,\"isCouponCodeCollapsed\":true,\"isExpressPrivacyPolicy\":false,\"isPaymentRequestEnabled\":false,\"isPaymentRequestCanMakePaymentEnabled\":false,\"isSignInEmailEnabled\":false,\"isSpamProtectionEnabled\":false,\"isTrustedShippingAddressEnabled\":true,\"orderTermsAndConditions\":\"\",\"orderTermsAndConditionsLocation\":\"payment\",\"orderTermsAndConditionsLink\":\"\",\"orderTermsAndConditionsType\":\"\",\"privacyPolicyUrl\":\"\",\"shippingQuoteFailedMessage\":\"Unfortunately one or more items in your cart can't be shipped to your location. Please choose a different delivery address.\",\"isAccountCreationEnabled\":true,\"realtimeShippingProviders\":[\"Fedex\",\"UPS\",\"USPS\"],\"remoteCheckoutProviders\":[],\"providerWithCustomCheckout\":null,\"isAnalyticsEnabled\":false,\"isStorefrontSpamProtectionEnabled\":true,\"googleMapsApiKey\":\"\",\"googleRecaptchaSitekey\":\"6LccmasUAAAAAIRhScC9asOrH_rQblw06weNOzDI\",\"features\":{\"CHECKOUT-3573.expose_correct_error_message\":true,\"CHECKOUT-3671.do_not_render_payment_form_if_not_payment\":true,\"CHECKOUT-7222.checkout_settings_styling_section\":true,\"CHECKOUT-7255.remove_checkout_step_numbers\":true,\"CHECKOUT-4941.account_creation_in_checkout\":true,\"CHECKOUT-4183.checkout_google_address_autocomplete_uk\":true,\"DATA-6891.missing_orders_within_GA\":false,\"CHECKOUT-4726.add_address_in_multishipping_checkout\":true,\"CHECKOUT-4936.enable_custom_item_shipping\":true,\"PAYMENTS-6806.enable_ppsdk_strategy\":false,\"PAYMENTS-6799.localise_checkout_payment_error_messages\":true,\"PROJECT-3828.add_3ds_support_on_squarev2\":true,\"PAYPAL-1149.braintree-new-card-below-totals-banner-placement\":true,\"INT-4994.Opayo_3DS2\":true,\"CHECKOUT-7403.updated_cart_summary_modal\":true,\"INT-5826.amazon_relative_url\":true,\"INT-5826.google_hostname_alias\":true,\"INT-6399.amazon_pay_apb\":true,\"PROJECT-3483.amazon_pay_ph4\":true,\"PROJECT-4113.squarev2_web_payments_sdk\":true,\"PROJECT-4802.digital_river_paypal_support\":true,\"INT-6885.amazon_pay_ph4_us_only\":true,\"CHECKOUT-6879.enable_floating_labels\":true,\"PAYMENTS-7667.enable_vaulting_with_multishipping\":true,\"PAYPAL-1883.paypal-commerce-split-gateway\":true,\"PROJECT-5029.checkout_extension\":true,\"CHECKOUT-6891.update_incomplete_order_wording_on_order_confirmation_page\":true,\"CHECKOUT-7647.express_privacy_policy\":true,\"INT-7676.authorizenet_use_new_googlepay_payment_strategy\":false,\"INT-7676.bnz_use_new_googlepay_payment_strategy\":false,\"INT-7676.checkoutcom_use_new_googlepay_payment_strategy\":false,\"INT-7676.cybersourcev2_use_new_googlepay_payment_strategy\":false,\"INT-7676.orbital_use_new_googlepay_payment_strategy\":false,\"INT-7676.stripe_use_new_googlepay_payment_strategy\":false,\"INT-7676.stripeupe_use_new_googlepay_payment_strategy\":false,\"INT-7676.worldpayaccess_use_new_googlepay_payment_strategy\":false,\"INT-5659.authorizenet_use_new_googlepay_customer_strategy\":false,\"INT-5659.bnz_use_new_googlepay_customer_strategy\":false,\"INT-5659.checkoutcom_use_new_googlepay_customer_strategy\":false,\"INT-5659.cybersourcev2_use_new_googlepay_customer_strategy\":false,\"INT-5659.orbital_use_new_googlepay_customer_strategy\":false,\"INT-5659.stripe_use_new_googlepay_customer_strategy\":false,\"INT-5659.stripeupe_use_new_googlepay_customer_strategy\":false,\"INT-5659.worldpayaccess_use_new_googlepay_customer_strategy\":false,\"PI-626.Block_unnecessary_payment_confirmation_for_StripeUPE\":false,\"PROJECT-5505.PayPal_Accelerated_Checkout_v2_for_Braintree\":true},\"requiresMarketingConsent\":false,\"checkoutUserExperienceSettings\":{\"walletButtonsOnTop\":true,\"floatingLabelEnabled\":true}},\"currency\":{\"code\":\"USD\",\"decimalPlaces\":\"2\",\"decimalSeparator\":\".\",\"isTransactional\":true,\"symbolLocation\":\"left\",\"symbol\":\"$\",\"thousandsSeparator\":\",\"},\"displayDateFormat\":\"MMM do yyyy\",\"displaySettings\":{\"hidePriceFromGuests\":false},\"inputDateFormat\":\"MM/dd/yyyy\",\"formFields\":{\"billingAddressFields\":[{\"id\":\"field_4\",\"name\":\"firstName\",\"custom\":false,\"label\":\"First Name\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_5\",\"name\":\"lastName\",\"custom\":false,\"label\":\"Last Name\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_6\",\"name\":\"company\",\"custom\":false,\"label\":\"Company Name\",\"required\":false,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_7\",\"name\":\"phone\",\"custom\":false,\"label\":\"Phone Number\",\"required\":false,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_8\",\"name\":\"address1\",\"custom\":false,\"label\":\"Address Line 1\",\"required\":true,\"default\":\"\",\"maxLength\":\"50\"},{\"id\":\"field_9\",\"name\":\"address2\",\"custom\":false,\"label\":\"Address Line 2\",\"required\":false,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_10\",\"name\":\"city\",\"custom\":false,\"label\":\"Suburb/City\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_11\",\"name\":\"countryCode\",\"custom\":false,\"label\":\"Country\",\"required\":true,\"default\":null,\"maxLength\":false},{\"id\":\"field_12\",\"name\":\"stateOrProvince\",\"custom\":false,\"label\":\"State/Province\",\"required\":true,\"default\":null,\"maxLength\":\"\"},{\"id\":\"field_13\",\"name\":\"postalCode\",\"custom\":false,\"label\":\"Zip/Postcode\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"}],\"shippingAddressFields\":[{\"id\":\"field_14\",\"name\":\"firstName\",\"custom\":false,\"label\":\"First Name\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_15\",\"name\":\"lastName\",\"custom\":false,\"label\":\"Last Name\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_16\",\"name\":\"company\",\"custom\":false,\"label\":\"Company Name\",\"required\":false,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_17\",\"name\":\"phone\",\"custom\":false,\"label\":\"Phone Number\",\"required\":false,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_18\",\"name\":\"address1\",\"custom\":false,\"label\":\"Address Line 1\",\"required\":true,\"default\":\"\",\"maxLength\":\"50\"},{\"id\":\"field_19\",\"name\":\"address2\",\"custom\":false,\"label\":\"Address Line 2\",\"required\":false,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_20\",\"name\":\"city\",\"custom\":false,\"label\":\"Suburb/City\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_21\",\"name\":\"countryCode\",\"custom\":false,\"label\":\"Country\",\"required\":true,\"default\":null,\"maxLength\":false},{\"id\":\"field_22\",\"name\":\"stateOrProvince\",\"custom\":false,\"label\":\"State/Province\",\"required\":true,\"default\":null,\"maxLength\":\"\"},{\"id\":\"field_23\",\"name\":\"postalCode\",\"custom\":false,\"label\":\"Zip/Postcode\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"}]},\"links\":{\"cartLink\":\"https://my-dev-store-599736595.store.bcdev/cart.php\",\"checkoutLink\":\"https://my-dev-store-599736595.store.bcdev/checkout\",\"createAccountLink\":\"https://my-dev-store-599736595.store.bcdev/login.php?action=create_account\",\"forgotPasswordLink\":\"https://my-dev-store-599736595.store.bcdev/login.php?action=reset_password\",\"loginLink\":\"https://my-dev-store-599736595.store.bcdev/login.php\",\"orderConfirmationLink\":\"https://my-dev-store-599736595.store.bcdev/checkout/order-confirmation\",\"siteLink\":\"https://my-dev-store-599736595.store.bcdev\"},\"paymentSettings\":{\"bigpayBaseUrl\":\"*\",\"clientSidePaymentProviders\":[\"adyenv2\",\"adyenv3\",\"affirm\",\"afterpay\",\"authorizenet\",\"bnz\",\"barclays\",\"bigpaypay\",\"bluesnap\",\"bluesnapdirect\",\"bolt\",\"braintree\",\"braintreepaypal\",\"braintreepaypalcredit\",\"braintreevisacheckout\",\"cardconnect\",\"cba_mpgs\",\"ccavenuemars\",\"clearpay\",\"clover\",\"chasepay\",\"checkoutcom\",\"cybersource\",\"cybersourcev2\",\"converge\",\"elavon\",\"eway\",\"ewayrapid\",\"firstdatae4v14\",\"googlepayadyenv2\",\"googlepayadyenv3\",\"googlepaybraintree\",\"googlepaybnz\",\"googlepaycybersourcev2\",\"googlepaycheckoutcom\",\"googlepaystripe\",\"googlepayorbital\",\"googlepayworldpayaccess\",\"hps\",\"humm\",\"laybuy\",\"migs\",\"moneris\",\"mollie\",\"nmi\",\"orbital\",\"paymetric\",\"paypal\",\"paypalcommercecreditcards\",\"quadpay\",\"quickbooks\",\"sagepay\",\"securenet\",\"sezzle\",\"shopkeep\",\"squarev2\",\"stripe\",\"stripeupe\",\"stripev3\",\"usaepay\",\"vantiv\",\"vantivcore\",\"wepay\",\"worldpayaccess\",\"zip\",\"cabbage_pay\",\"cabbage_pay.card\",\"cabbage_pay.redirection\",\"dlocal\",\"dlocal.card\",\"dlocal.hosted\",\"electronic_payment_exchange\",\"electronic_payment_exchange.card\",\"mercado_pago\",\"mercado_pago.card\",\"mercado_pago.hosted\",\"pinwheel\",\"pinwheel.card\",\"serve_first\",\"serve_first.card\",\"windcave\",\"windcave.card\",\"bitpay\",\"bitpay.hosted\",\"optty\",\"optty.buy_now_pay_later\",\"nexi\",\"nexi.hosted\",\"transbank\",\"transbank.webpay_plus\"]},\"shopperConfig\":{\"defaultNewsletterSignup\":false,\"passwordRequirements\":{\"alpha\":\"[A-Za-z]\",\"numeric\":\"[0-9]\",\"minlength\":7,\"error\":\"Passwords must be at least 7 characters and contain both alphabetic and numeric characters.\"},\"showNewsletterSignup\":true},\"storeProfile\":{\"orderEmail\":\"richa.patel+s181431@bigcommerce.com\",\"shopPath\":\"https://my-dev-store-599736595.store.bcdev\",\"storeCountry\":\"United States\",\"storeCountryCode\":\"US\",\"storeHash\":\"yn9yyzrt6v\",\"storeId\":10000001,\"storeName\":\"My Dev Store 599736595\",\"storePhoneNumber\":\"\",\"storeLanguage\":\"en_US\"},\"imageDirectory\":\"product_images\",\"isAngularDebuggingEnabled\":true,\"shopperCurrency\":{\"code\":\"USD\",\"symbolLocation\":\"left\",\"symbol\":\"$\",\"decimalPlaces\":\"2\",\"decimalSeparator\":\".\",\"thousandsSeparator\":\",\",\"exchangeRate\":1,\"isTransactional\":true}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "l5d-success-class",
              "value": "1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 603,
      },
      {
        "_id": "3f87bb23d79c8bef5c6840e20cf65aac",
        "request": {
          "headers": [
            {
              "name": "x-api-internal",
              "value": "This API endpoint is for internal use only and may change in the future"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://4241.project/api/storefront/form-fields"
        },
        "response": {
          "content": {
            "encoding": "utf8",
            "mimeType": "application/json",
            "size": 4020,
            "text": "{\"billingAddress\":[{\"id\":\"field_4\",\"name\":\"firstName\",\"custom\":false,\"label\":\"First Name\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_5\",\"name\":\"lastName\",\"custom\":false,\"label\":\"Last Name\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_6\",\"name\":\"company\",\"custom\":false,\"label\":\"Company Name\",\"required\":false,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_7\",\"name\":\"phone\",\"custom\":false,\"label\":\"Phone Number\",\"required\":false,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_8\",\"name\":\"address1\",\"custom\":false,\"label\":\"Address Line 1\",\"required\":true,\"default\":\"\",\"maxLength\":50,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_9\",\"name\":\"address2\",\"custom\":false,\"label\":\"Address Line 2\",\"required\":false,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_10\",\"name\":\"city\",\"custom\":false,\"label\":\"Suburb\\/City\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_11\",\"name\":\"countryCode\",\"custom\":false,\"label\":\"Country\",\"required\":true,\"default\":null,\"maxLength\":null,\"type\":\"array\",\"fieldType\":\"dropdown\",\"options\":{\"helperLabel\":\"Choose a Country\",\"items\":[]}},{\"id\":\"field_12\",\"name\":\"stateOrProvince\",\"custom\":false,\"label\":\"State\\/Province\",\"required\":true,\"default\":null,\"maxLength\":null},{\"id\":\"field_13\",\"name\":\"postalCode\",\"custom\":false,\"label\":\"Zip\\/Postcode\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"}],\"shippingAddress\":[{\"id\":\"field_14\",\"name\":\"firstName\",\"custom\":false,\"label\":\"First Name\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_15\",\"name\":\"lastName\",\"custom\":false,\"label\":\"Last Name\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_16\",\"name\":\"company\",\"custom\":false,\"label\":\"Company Name\",\"required\":false,\"default\":\"\",\"maxLength[...]
