.optimizedCheckout-cart-modal {
    min-height: 100%;
    min-width: 100%;
    width: 100%;

    .modal-header {
        flex-wrap: wrap;

        .cart-heading-subheader {
            flex-basis: 100%;
        }

        // replace X icon with ours
        .cart-modal-close {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

            &::before {
                color: var(--color-black, #000000);
                content: "X";
                font-size: remCalc(20px);
            }

            .icon {
                display: none;
            }

        }
    }

    .modal-body {
        height: 100%;
    }
}
