.checkoutHeader {
    background-color: var(--color-white, white);
    margin-bottom: 3.75rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;

    @include breakpoint("large") {
        position: unset;
        margin-bottom: .5rem;
    }
}