.checkoutHeader {
    border-bottom: 0;
    box-shadow: none;
    min-height: unset;
    text-align: center;

    &-logo {
        max-height: 25px;

        @include breakpoint($mobile-breakpoint) {
            max-height: 50px;
        }
    }
}
