.layout-cart {
  padding-left: 1rem;
  padding-right: 0;

  .cart {
    background-color: unset;
    box-shadow: $checkout-box-shadow;
    margin-top: 0;

    header {
      align-items: center;
      display: flex;
      justify-content: space-between;

      // move h2 after 'edit cart'
      h3 {
        order: 2;
      }
    }

    .redeemable-label {
      display: none;
    }
  }
}