@import '../ui/Base';

.form-checklist-checkbox ~ .form-label-redeemable {
    &:hover {
        cursor: default;
    }

    &::before,
    &::after {
        content: none;
    }
}

.redeemable {
    display: table;
    padding: spacing("single");
    padding: 0;
    width: 100%;
}

.redeemable-column {
    display: table-cell;
}

.redeemable-actions {
    vertical-align: middle;
}

.redeemable-action,
.redeemable-info {
    line-height: lineHeight("base");
}

.redeemable-entry {
    margin-top: spacing("half");
}

.redeemable-info-header {
    display: block;
    margin-bottom: spacing("sixth");
}

.redeemable-info-header--highlight {
    font-weight: fontWeight("semibold");
}

.redeemable-info-subHeader {
    color: color("greys");
    font-size: fontSize("smallest");
    line-height: lineHeight("smallest");
}

.redeemable-info-subHeader--remaining {
    display: block;
}

.redeemable-remove-action {
    @include square(22px);

    &:hover svg {
        fill: color("primary");
    }
}

.redeemable-label {
    margin-top: spacing("base");
}

.redeemable-payments {
    @include breakpoint("large") {
        display: none;
    }
}
