$element-border-radius: remCalc(12px);

@include enhancedTheme {
    background-color: $color-secondaryDarker;

    .button,
    .shippingOptions-panel,
    .alertBox,
    .applied-coupons-list ul {
        border-radius: $element-border-radius;
    }
}
