{
  "log": {
    "_recordingName": "Google Pay Braintree in Customer Step",
    "creator": {
      "comment": "persister:CustomFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f6e9f4d3a00f015aee2652b901ff888a",
        "request": {
          "headers": [
            {
              "name": "x-api-internal",
              "value": "This API endpoint is for internal use only and may change in the future"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "checkoutId",
              "value": "a78beb15-082b-4a56-bae6-460db200d210"
            },
            {
              "_fromType": "array",
              "name": "include",
              "value": "cart.lineItems.physicalItems.categoryNames"
            },
            {
              "_fromType": "array",
              "name": "include",
              "value": "cart.lineItems.digitalItems.categoryNames"
            }
          ],
          "url": "https://4241.project/api/storefront/checkout-settings?checkoutId=a78beb15-082b-4a56-bae6-460db200d210&include=cart.lineItems.physicalItems.categoryNames&include=cart.lineItems.digitalItems.categoryNames"
        },
        "response": {
          "content": {
            "encoding": "utf8",
            "mimeType": "application/json",
            "size": 9998,
            "text": "{\"context\":{\"flashMessages\":[],\"payment\":{\"token\":null},\"checkoutId\":\"a78beb15-082b-4a56-bae6-460db200d210\",\"geoCountryCode\":\"PL\"},\"customization\":{\"languageData\":[]},\"storeConfig\":{\"cdnPath\":\"https://cdn.integration.zone/r-77d904d5c6ad74f5f6e2b9508df820882d82e036\",\"checkoutSettings\":{\"checkoutBillingSameAsShippingEnabled\":true,\"hasMultiShippingEnabled\":false,\"enableOrderComments\":true,\"enableTermsAndConditions\":false,\"guestCheckoutEnabled\":true,\"isCardVaultingEnabled\":true,\"isCouponCodeCollapsed\":true,\"isExpressPrivacyPolicy\":false,\"isPaymentRequestEnabled\":false,\"isPaymentRequestCanMakePaymentEnabled\":false,\"isSignInEmailEnabled\":false,\"isSpamProtectionEnabled\":false,\"isTrustedShippingAddressEnabled\":true,\"orderTermsAndConditions\":\"\",\"orderTermsAndConditionsLocation\":\"payment\",\"orderTermsAndConditionsLink\":\"\",\"orderTermsAndConditionsType\":\"\",\"privacyPolicyUrl\":\"\",\"shippingQuoteFailedMessage\":\"Unfortunately one or more items in your cart can't be shipped to your location. Please choose a different delivery address.\",\"isAccountCreationEnabled\":true,\"realtimeShippingProviders\":[\"Fedex\",\"UPS\",\"USPS\"],\"remoteCheckoutProviders\":[\"braintreepaypal\",\"braintreepaypalcredit\",\"googlepaybraintree\"],\"providerWithCustomCheckout\":null,\"isAnalyticsEnabled\":false,\"isStorefrontSpamProtectionEnabled\":true,\"googleMapsApiKey\":\"\",\"googleRecaptchaSitekey\":\"6LcvTksbAAAAAHeV9ajqHbWD382t8Mg5xkYuEwcs\",\"features\":{\"CHECKOUT-3573.expose_correct_error_message\":true,\"CHECKOUT-3671.do_not_render_payment_form_if_not_payment\":true,\"CHECKOUT-7222.checkout_settings_styling_section\":true,\"CHECKOUT-4941.account_creation_in_checkout\":true,\"CHECKOUT-7255.remove_checkout_step_numbers\":true,\"CHECKOUT-4183.checkout_google_address_autocomplete_uk\":true,\"DATA-6891.missing_orders_within_GA\":false,\"CHECKOUT-4726.add_address_in_multishipping_checkout\":true,\"CHECKOUT-4936.enable_custom_item_shipping\":true,\"PAYMENTS-6806.enable_ppsdk_strategy\":false,\"PAYMENTS-6799.localise_checkout_payment_error_messages\":true,\"PROJECT-3828.add_3ds_support_on_squarev2\":true,\"INT-4994.Opayo_3DS2\":true,\"CHECKOUT-7403.updated_cart_summary_modal\":true,\"INT-5826.amazon_relative_url\":false,\"INT-5826.google_hostname_alias\":false,\"INT-6399.amazon_pay_apb\":true,\"PROJECT-3483.amazon_pay_ph4\":true,\"PROJECT-4113.squarev2_web_payments_sdk\":true,\"PROJECT-4802.digital_river_paypal_support\":false,\"INT-6885.amazon_pay_ph4_us_only\":false,\"CHECKOUT-6879.enable_floating_labels\":false,\"PAYMENTS-7667.enable_vaulting_with_multishipping\":true,\"PROJECT-2381.upgrade_checkout\":true,\"CHECKOUT-3984.upgrade_checkout_billing_step\":true,\"CHECKOUT-3790.upgrade_checkout_customer_step\":true,\"CHECKOUT-3790.upgrade_checkout_payment_step\":true,\"CHECKOUT-3983.upgrade_checkout_shipping_step\":true,\"CHECKOUT-3790.upgrade_order_confirmation\":true,\"CHECKOUT-3852.upgrade_cart_summary\":true,\"PROJECT-5029.checkout_extension\":true,\"CHECKOUT-6891.update_incomplete_order_wording_on_order_confirmation_page\":false,\"CHECKOUT-7647.express_privacy_policy\":true,\"CHECKOUT-7764.Increase_sentry_logging_to_100_percent\":false,\"INT-7676.authorizenet_use_new_googlepay_payment_strategy\":false,\"INT-7676.bnz_use_new_googlepay_payment_strategy\":false,\"INT-7676.checkoutcom_use_new_googlepay_payment_strategy\":false,\"INT-7676.cybersourcev2_use_new_googlepay_payment_strategy\":false,\"INT-7676.orbital_use_new_googlepay_payment_strategy\":false,\"INT-7676.stripe_use_new_googlepay_payment_strategy\":false,\"INT-7676.stripeupe_use_new_googlepay_payment_strategy\":false,\"INT-7676.worldpayaccess_use_new_googlepay_payment_strategy\":false,\"INT-5659.authorizenet_use_new_googlepay_customer_strategy\":false,\"INT-5659.bnz_use_new_googlepay_customer_strategy\":false,\"INT-5659.checkoutcom_use_new_googlepay_customer_strategy\":false,\"INT-5659.cybersourcev2_use_new_googlepay_customer_strategy\":false,\"INT-5659.orbital_use_new_googlepay_customer_strategy\":false,\"INT-5659.stripe_use_new_googlepay_customer_strategy\":false,\"INT-5659.stripeupe_use_new_googlepay_customer_strategy\":false,\"INT-5659.worldpayaccess_use_new_googlepay_customer_strategy\":false,\"PI-626.Block_unnecessary_payment_confirmation_for_StripeUPE\":false,\"PROJECT-5505.PayPal_Accelerated_Checkout_v2_for_Braintree\":true},\"requiresMarketingConsent\":false,\"checkoutUserExperienceSettings\":{\"walletButtonsOnTop\":false,\"floatingLabelEnabled\":true}},\"currency\":{\"code\":\"USD\",\"decimalPlaces\":\"2\",\"decimalSeparator\":\".\",\"isTransactional\":true,\"symbolLocation\":\"left\",\"symbol\":\"$\",\"thousandsSeparator\":\",\"},\"displayDateFormat\":\"MMM do yyyy\",\"displaySettings\":{\"hidePriceFromGuests\":false},\"inputDateFormat\":\"MM/dd/yyyy\",\"formFields\":{\"billingAddressFields\":[{\"id\":\"field_4\",\"name\":\"firstName\",\"custom\":false,\"label\":\"First Name\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_5\",\"name\":\"lastName\",\"custom\":false,\"label\":\"Last Name\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_6\",\"name\":\"company\",\"custom\":false,\"label\":\"Company Name\",\"required\":false,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_7\",\"name\":\"phone\",\"custom\":false,\"label\":\"Phone Number\",\"required\":false,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_8\",\"name\":\"address1\",\"custom\":false,\"label\":\"Address Line 1\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_9\",\"name\":\"address2\",\"custom\":false,\"label\":\"Address Line 2\",\"required\":false,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_10\",\"name\":\"city\",\"custom\":false,\"label\":\"Suburb/City\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_11\",\"name\":\"countryCode\",\"custom\":false,\"label\":\"Country\",\"required\":true,\"default\":null,\"maxLength\":false},{\"id\":\"field_12\",\"name\":\"stateOrProvince\",\"custom\":false,\"label\":\"State/Province\",\"required\":true,\"default\":null,\"maxLength\":\"\"},{\"id\":\"field_13\",\"name\":\"postalCode\",\"custom\":false,\"label\":\"Zip/Postcode\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"}],\"shippingAddressFields\":[{\"id\":\"field_14\",\"name\":\"firstName\",\"custom\":false,\"label\":\"First Name\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_15\",\"name\":\"lastName\",\"custom\":false,\"label\":\"Last Name\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_16\",\"name\":\"company\",\"custom\":false,\"label\":\"Company Name\",\"required\":false,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_17\",\"name\":\"phone\",\"custom\":false,\"label\":\"Phone Number\",\"required\":false,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_18\",\"name\":\"address1\",\"custom\":false,\"label\":\"Address Line 1\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_19\",\"name\":\"address2\",\"custom\":false,\"label\":\"Address Line 2\",\"required\":false,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_20\",\"name\":\"city\",\"custom\":false,\"label\":\"Suburb/City\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_21\",\"name\":\"countryCode\",\"custom\":false,\"label\":\"Country\",\"required\":true,\"default\":null,\"maxLength\":false},{\"id\":\"field_22\",\"name\":\"stateOrProvince\",\"custom\":false,\"label\":\"State/Province\",\"required\":true,\"default\":null,\"maxLength\":\"\"},{\"id\":\"field_23\",\"name\":\"postalCode\",\"custom\":false,\"label\":\"Zip/Postcode\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"}]},\"links\":{\"cartLink\":\"https://nicktsybulko1699016355-testsworthy.my-integration.zone/cart.php\",\"checkoutLink\":\"https://nicktsybulko1699016355-testsworthy.my-integration.zone/checkout\",\"createAccountLink\":\"https://nicktsybulko1699016355-testsworthy.my-integration.zone/login.php?action=create_account\",\"forgotPasswordLink\":\"https://nicktsybulko1699016355-testsworthy.my-integration.zone/login.php?action=reset_password\",\"loginLink\":\"https://nicktsybulko1699016355-testsworthy.my-integration.zone/login.php\",\"orderConfirmationLink\":\"https://nicktsybulko1699016355-testsworthy.my-integration.zone/checkout/order-confirmation\",\"siteLink\":\"https://nicktsybulko1699016355-testsworthy.my-integration.zone\"},\"paymentSettings\":{\"bigpayBaseUrl\":\"*\",\"clientSidePaymentProviders\":[\"adyenv2\",\"adyenv3\",\"affirm\",\"afterpay\",\"authorizenet\",\"bnz\",\"barclays\",\"bigpaypay\",\"bluesnap\",\"bluesnapdirect\",\"bolt\",\"braintree\",\"braintreepaypal\",\"braintreepaypalcredit\",\"braintreevisacheckout\",\"cardconnect\",\"cba_mpgs\",\"ccavenuemars\",\"clearpay\",\"clover\",\"chasepay\",\"checkoutcom\",\"cybersource\",\"cybersourcev2\",\"converge\",\"elavon\",\"eway\",\"ewayrapid\",\"firstdatae4v14\",\"googlepayadyenv2\",\"googlepayadyenv3\",\"googlepaybraintree\",\"googlepaypaypalcommerce\",\"googlepaybnz\",\"googlepaycybersourcev2\",\"googlepaycheckoutcom\",\"googlepaystripe\",\"googlepayorbital\",\"googlepayworldpayaccess\",\"hps\",\"humm\",\"laybuy\",\"migs\",\"moneris\",\"mollie\",\"nmi\",\"orbital\",\"paymetric\",\"paypal\",\"paypalcommercecreditcards\",\"quadpay\",\"quickbooks\",\"sagepay\",\"securenet\",\"sezzle\",\"shopkeep\",\"squarev2\",\"stripe\",\"stripeupe\",\"stripev3\",\"usaepay\",\"vantiv\",\"vantivcore\",\"wepay\",\"worldpayaccess\",\"zip\",\"cabbage_pay\",\"cabbage_pay.card\",\"cabbage_pay.redirection\",\"dlocal\",\"dlocal.card\",\"dlocal.hosted\",\"electronic_payment_exchange\",\"electronic_payment_exchange.card\",\"mercado_pago\",\"mercado_pago.card\",\"mercado_pago.hosted\",\"pinwheel\",\"pinwheel.card\",\"serve_first\",\"serve_first.card\",\"windcave\",\"windcave.card\",\"bitpay\",\"bitpay.hosted\",\"optty\",\"optty.buy_now_pay_later\",\"nexi\",\"nexi.hosted\",\"transbank\",\"transbank.webpay_plus\"]},\"shopperConfig\":{\"defaultNewsletterSignup\":false,\"passwordRequirements\":{\"alpha\":\"[A-Za-z]\",\"numeric\":\"[0-9]\",\"minlength\":7,\"error\":\"Passwords must be at least 7 characters and contain both alphabetic and numeric characters.\"},\"showNewsletterSignup\":true},\"storeProfile\":{\"orderEmail\":\"nick.tsybulko+1699016355@bigcommerce.com\",\"shopPath\":\"https://nicktsybulko1699016355-testsworthy.my-integration.zone\",\"storeCountry\":\"United States\",\"storeCountryCode\":\"US\",\"storeHash\":\"ykvoqglqk9\",\"storeId\":16257246,\"storeName\":\"nick.tsybulko+1699016355 testsworthy\",\"storePhoneNumber\":\"\",\"storeLanguage\":\"en_US\"},\"imageDirectory\":\"product_images\",\"isAngularDebuggingEnabled\":false,\"shopperCurrency\":{\"code\":\"USD\",\"symbolLocation\":\"left\",\"symbol\":\"$\",\"decimalPlaces\":\"2\",\"decimalSeparator\":\".\",\"thousandsSeparator\":\",\",\"exchangeRate\":1,\"isTransactional\":true}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "bc-ray",
              "value": "1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 468,
      },
      {
        "_id": "3f87bb23d79c8bef5c6840e20cf65aac",
        "request": {
          "headers": [
            {
              "name": "x-api-internal",
              "value": "This API endpoint is for internal use only and may change in the future"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://4241.project/api/storefront/form-fields"
        },
        "response": {
          "content": {
            "encoding": "utf8",
            "mimeType": "application/json",
            "size": 4024,
            "text": "{\"billingAddress\":[{\"id\":\"field_4\",\"name\":\"firstName\",\"custom\":false,\"label\":\"First Name\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_5\",\"name\":\"lastName\",\"custom\":false,\"label\":\"Last Name\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_6\",\"name\":\"company\",\"custom\":false,\"label\":\"Company Name\",\"required\":false,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_7\",\"name\":\"phone\",\"custom\":false,\"label\":\"Phone Number\",\"required\":false,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_8\",\"name\":\"address1\",\"custom\":false,\"label\":\"Address Line 1\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_9\",\"name\":\"address2\",\"custom\":false,\"label\":\"Address Line 2\",\"required\":false,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_10\",\"name\":\"city\",\"custom\":false,\"label\":\"Suburb\\/City\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_11\",\"name\":\"countryCode\",\"custom\":false,\"label\":\"Country\",\"required\":true,\"default\":null,\"maxLength\":null,\"type\":\"array\",\"fieldType\":\"dropdown\",\"options\":{\"helperLabel\":\"Choose a Country\",\"items\":[]}},{\"id\":\"field_12\",\"name\":\"stateOrProvince\",\"custom\":false,\"label\":\"State\\/Province\",\"required\":true,\"default\":null,\"maxLength\":null},{\"id\":\"field_13\",\"name\":\"postalCode\",\"custom\":false,\"label\":\"Zip\\/Postcode\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"}],\"shippingAddress\":[{\"id\":\"field_14\",\"name\":\"firstName\",\"custom\":false,\"label\":\"First Name\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_15\",\"name\":\"lastName\",\"custom\":false,\"label\":\"Last Name\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_16\",\"name\":\"company\",\"custom\":false,\"label\":\"Company Name\",\"required\":false,\"default\":\"\",\"maxLength[...]
