$element-border-radius: remCalc(12px);

@include themeV2 {
    background-color: $color-secondaryDarker;

    .button,
    .shippingOptions-panel,
    .alertBox,
    .modal {
        border-radius: $element-border-radius;
    }
}
