// =============================================================================
// GENERIC MODAL (Component)
// =============================================================================

.genericModal-body-iframe--center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
