{
  "log": {
    "_recordingName": "Adyenv3 Credit Card in Payment Step",
    "creator": {
      "comment": "persister:CustomFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0fbb13ddc72654aab9b52e79456d94da",
        "request": {
          "headers": [
            {
              "name": "x-api-internal",
              "value": "This API endpoint is for internal use only and may change in the future"
            },
            {
              "name": "x-sf-csrf-token",
              "value": "15bf07e1-40bb-4459-bc05-72894701ff03"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "checkoutId",
              "value": "e1223b44-7b30-48f3-9cc3-de9b22063075"
            },
            {
              "_fromType": "array",
              "name": "include",
              "value": "cart.lineItems.physicalItems.categoryNames"
            },
            {
              "_fromType": "array",
              "name": "include",
              "value": "cart.lineItems.digitalItems.categoryNames"
            }
          ],
          "url": "https://4241.project/api/storefront/checkout-settings?checkoutId=e1223b44-7b30-48f3-9cc3-de9b22063075&include=cart.lineItems.physicalItems.categoryNames&include=cart.lineItems.digitalItems.categoryNames"
        },
        "response": {
          "content": {
            "encoding": "utf8",
            "mimeType": "application/json",
            "size": 10178,
            "text": "{\"context\":{\"flashMessages\":[],\"payment\":{\"token\":null},\"checkoutId\":\"e1223b44-7b30-48f3-9cc3-de9b22063075\",\"geoCountryCode\":\"PL\"},\"customization\":{\"languageData\":[]},\"storeConfig\":{\"cdnPath\":\"https://cdn.integration.zone/r-70a4a46181455673280ec33ef9d3f4054f6b83b8\",\"checkoutSettings\":{\"checkoutBillingSameAsShippingEnabled\":true,\"hasMultiShippingEnabled\":false,\"enableOrderComments\":true,\"enableTermsAndConditions\":false,\"guestCheckoutEnabled\":true,\"isCardVaultingEnabled\":true,\"isCouponCodeCollapsed\":true,\"isExpressPrivacyPolicy\":false,\"isPaymentRequestEnabled\":false,\"isPaymentRequestCanMakePaymentEnabled\":false,\"isSignInEmailEnabled\":false,\"isSpamProtectionEnabled\":false,\"isTrustedShippingAddressEnabled\":true,\"orderTermsAndConditions\":\"\",\"orderTermsAndConditionsLocation\":\"payment\",\"orderTermsAndConditionsLink\":\"\",\"orderTermsAndConditionsType\":\"\",\"privacyPolicyUrl\":\"\",\"shippingQuoteFailedMessage\":\"Unfortunately one or more items in your cart can't be shipped to your location. Please choose a different delivery address.\",\"isAccountCreationEnabled\":true,\"realtimeShippingProviders\":[\"Fedex\",\"UPS\",\"USPS\"],\"remoteCheckoutProviders\":[],\"providerWithCustomCheckout\":null,\"isAnalyticsEnabled\":false,\"isStorefrontSpamProtectionEnabled\":true,\"googleMapsApiKey\":\"\",\"googleRecaptchaSitekey\":\"6LcvTksbAAAAAHeV9ajqHbWD382t8Mg5xkYuEwcs\",\"features\":{\"CHECKOUT-3573.expose_correct_error_message\":true,\"CHECKOUT-3671.do_not_render_payment_form_if_not_payment\":true,\"CHECKOUT-7222.checkout_settings_styling_section\":true,\"CHECKOUT-4941.account_creation_in_checkout\":true,\"CHECKOUT-7255.remove_checkout_step_numbers\":true,\"CHECKOUT-4183.checkout_google_address_autocomplete_uk\":true,\"DATA-6891.missing_orders_within_GA\":true,\"CHECKOUT-4726.add_address_in_multishipping_checkout\":true,\"CHECKOUT-4936.enable_custom_item_shipping\":true,\"PAYMENTS-6806.enable_ppsdk_strategy\":false,\"PAYMENTS-6799.localise_checkout_payment_error_messages\":true,\"PROJECT-3828.add_3ds_support_on_squarev2\":true,\"INT-4994.Opayo_3DS2\":true,\"CHECKOUT-7403.updated_cart_summary_modal\":true,\"INT-5826.amazon_relative_url\":false,\"INT-5826.google_hostname_alias\":false,\"INT-6399.amazon_pay_apb\":true,\"PROJECT-3483.amazon_pay_ph4\":true,\"PROJECT-4113.squarev2_web_payments_sdk\":true,\"PROJECT-4802.digital_river_paypal_support\":true,\"INT-6885.amazon_pay_ph4_us_only\":false,\"CHECKOUT-6879.enable_floating_labels\":false,\"PAYMENTS-7667.enable_vaulting_with_multishipping\":true,\"PROJECT-2381.upgrade_checkout\":true,\"CHECKOUT-3984.upgrade_checkout_billing_step\":true,\"CHECKOUT-3790.upgrade_checkout_customer_step\":true,\"CHECKOUT-3790.upgrade_checkout_payment_step\":true,\"CHECKOUT-3983.upgrade_checkout_shipping_step\":true,\"CHECKOUT-3790.upgrade_order_confirmation\":true,\"CHECKOUT-3852.upgrade_cart_summary\":true,\"PROJECT-5029.checkout_extension\":true,\"CHECKOUT-6891.update_incomplete_order_wording_on_order_confirmation_page\":true,\"CHECKOUT-7647.express_privacy_policy\":true,\"CHECKOUT-7764.Increase_sentry_logging_to_100_percent\":true,\"INT-7676.authorizenet_use_new_googlepay_payment_strategy\":false,\"INT-7676.bnz_use_new_googlepay_payment_strategy\":false,\"INT-7676.checkoutcom_use_new_googlepay_payment_strategy\":false,\"INT-7676.cybersourcev2_use_new_googlepay_payment_strategy\":false,\"INT-7676.orbital_use_new_googlepay_payment_strategy\":false,\"INT-7676.stripe_use_new_googlepay_payment_strategy\":false,\"INT-7676.stripeupe_use_new_googlepay_payment_strategy\":false,\"INT-7676.worldpayaccess_use_new_googlepay_payment_strategy\":false,\"INT-5659.authorizenet_use_new_googlepay_customer_strategy\":false,\"INT-5659.bnz_use_new_googlepay_customer_strategy\":false,\"INT-5659.checkoutcom_use_new_googlepay_customer_strategy\":false,\"INT-5659.cybersourcev2_use_new_googlepay_customer_strategy\":false,\"INT-5659.orbital_use_new_googlepay_customer_strategy\":false,\"INT-5659.stripe_use_new_googlepay_customer_strategy\":false,\"INT-5659.stripeupe_use_new_googlepay_customer_strategy\":false,\"INT-5659.worldpayaccess_use_new_googlepay_customer_strategy\":false,\"PI-626.Block_unnecessary_payment_confirmation_for_StripeUPE\":false,\"PROJECT-5505.PayPal_Accelerated_Checkout_v2_for_Braintree\":true,\"PI-984.move_Stripe_confirm_request_to_backend\":false,\"PI-706.fix_mollie_payment_methods_displaying_on_the_checkout_page\":false,\"PAYPAL-3438.handling_instrument_declined_error_ppc\":true,\"PROJECT-3718.paypal_commerce_cc_vaultings\":true,\"PI-1679.trigger_update_stripe_payment_element\":false,\"CHECKOUT-8033.fix_newletter_checkbox\":true},\"requiresMarketingConsent\":false,\"checkoutUserExperienceSettings\":{\"walletButtonsOnTop\":true,\"floatingLabelEnabled\":true}},\"currency\":{\"code\":\"USD\",\"decimalPlaces\":\"2\",\"decimalSeparator\":\".\",\"isTransactional\":true,\"symbolLocation\":\"left\",\"symbol\":\"$\",\"thousandsSeparator\":\",\"},\"displayDateFormat\":\"MMM do yyyy\",\"displaySettings\":{\"hidePriceFromGuests\":false},\"inputDateFormat\":\"MM/dd/yyyy\",\"formFields\":{\"billingAddressFields\":[{\"id\":\"field_4\",\"name\":\"firstName\",\"custom\":false,\"label\":\"First Name\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_5\",\"name\":\"lastName\",\"custom\":false,\"label\":\"Last Name\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_6\",\"name\":\"company\",\"custom\":false,\"label\":\"Company Name\",\"required\":false,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_7\",\"name\":\"phone\",\"custom\":false,\"label\":\"Phone Number\",\"required\":false,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_8\",\"name\":\"address1\",\"custom\":false,\"label\":\"Address Line 1\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_9\",\"name\":\"address2\",\"custom\":false,\"label\":\"Address Line 2\",\"required\":false,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_10\",\"name\":\"city\",\"custom\":false,\"label\":\"Suburb/City\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_11\",\"name\":\"countryCode\",\"custom\":false,\"label\":\"Country\",\"required\":true,\"default\":null,\"maxLength\":false},{\"id\":\"field_12\",\"name\":\"stateOrProvince\",\"custom\":false,\"label\":\"State/Province\",\"required\":true,\"default\":null,\"maxLength\":\"\"},{\"id\":\"field_13\",\"name\":\"postalCode\",\"custom\":false,\"label\":\"Zip/Postcode\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"}],\"shippingAddressFields\":[{\"id\":\"field_14\",\"name\":\"firstName\",\"custom\":false,\"label\":\"First Name\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_15\",\"name\":\"lastName\",\"custom\":false,\"label\":\"Last Name\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_16\",\"name\":\"company\",\"custom\":false,\"label\":\"Company Name\",\"required\":false,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_17\",\"name\":\"phone\",\"custom\":false,\"label\":\"Phone Number\",\"required\":false,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_18\",\"name\":\"address1\",\"custom\":false,\"label\":\"Address Line 1\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_19\",\"name\":\"address2\",\"custom\":false,\"label\":\"Address Line 2\",\"required\":false,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_20\",\"name\":\"city\",\"custom\":false,\"label\":\"Suburb/City\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_21\",\"name\":\"countryCode\",\"custom\":false,\"label\":\"Country\",\"required\":true,\"default\":null,\"maxLength\":false},{\"id\":\"field_22\",\"name\":\"stateOrProvince\",\"custom\":false,\"label\":\"State/Province\",\"required\":true,\"default\":null,\"maxLength\":\"\"},{\"id\":\"field_23\",\"name\":\"postalCode\",\"custom\":false,\"label\":\"Zip/Postcode\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"}]},\"links\":{\"cartLink\":\"https://test-store-k37.my-integration.zone/cart.php\",\"checkoutLink\":\"https://test-store-k37.my-integration.zone/checkout\",\"createAccountLink\":\"https://test-store-k37.my-integration.zone/login.php?action=create_account\",\"forgotPasswordLink\":\"https://test-store-k37.my-integration.zone/login.php?action=reset_password\",\"loginLink\":\"https://test-store-k37.my-integration.zone/login.php\",\"orderConfirmationLink\":\"https://test-store-k37.my-integration.zone/checkout/order-confirmation\",\"siteLink\":\"https://test-store-k37.my-integration.zone\"},\"paymentSettings\":{\"bigpayBaseUrl\":\"*\",\"clientSidePaymentProviders\":[\"adyenv2\",\"adyenv3\",\"affirm\",\"afterpay\",\"authorizenet\",\"bnz\",\"barclays\",\"bigpaypay\",\"bluesnap\",\"bluesnapdirect\",\"bolt\",\"braintree\",\"braintreepaypal\",\"braintreepaypalcredit\",\"braintreevisacheckout\",\"cardconnect\",\"cba_mpgs\",\"ccavenuemars\",\"clearpay\",\"clover\",\"chasepay\",\"checkoutcom\",\"cybersource\",\"cybersourcev2\",\"converge\",\"elavon\",\"eway\",\"ewayrapid\",\"firstdatae4v14\",\"googlepayadyenv2\",\"googlepayadyenv3\",\"googlepaybraintree\",\"google[...]
