.checkout-step--customer {
    #checkout-customer-returning {
        @include enhancedTheme {
            margin-top: spacing("single");
        }
    }

    @include enhancedTheme-mobile {
        .customerEmail-body {
            width: 100%;

            > *:last-child {
                margin-bottom: spacing("single");
            }
        }

        .customerEmail-action {
            margin: 0;
            padding-left: 0;
            width: 100%;
        }
    }
}
