{
  "log": {
    "_recordingName": "sample",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "dcfac1c86bf09839fe9793fbff7cfcf6",
        "request": {
          "headers": [
            {
              "name": "x-api-internal",
              "value": "This API endpoint is for internal use only and may change in the future"
            },
            {
              "name": "x-checkout-sdk-version",
              "value": "1.239.0"
            },
            {
              "name": "x-xsrf-token",
              "value": "*"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://my-dev-store-745516528.store.bcdev/api/storefront/payments"
        },
        "response": {
          "content": {
            "encoding": "utf8",
            "mimeType": "application/json",
            "size": 15327,
            "text": "[{\"id\":\"scheme\",\"gateway\":\"adyenv2\",\"logoUrl\":\"\",\"method\":\"scheme\",\"supportedCards\":[\"VISA\",\"MC\",\"AMEX\",\"DISCOVER\",\"CUP\",\"MAESTRO\",\"DINERS\",\"JCB\"],\"providesShippingAddress\":false,\"config\":{\"displayName\":\"Credit Card\",\"cardCode\":null,\"helpText\":\"\",\"enablePaypal\":null,\"merchantId\":null,\"is3dsEnabled\":null,\"testMode\":true,\"isVisaCheckoutEnabled\":null,\"requireCustomerCode\":false,\"isVaultingEnabled\":false,\"isVaultingCvvEnabled\":false,\"hasDefaultStoredInstrument\":false,\"isHostedFormEnabled\":true,\"logo\":null},\"type\":\"PAYMENT_TYPE_API\",\"initializationStrategy\":{\"type\":\"not_applicable\"},\"nonce\":null,\"initializationData\":{\"environment\":\"test\",\"originKey\":\"pub.v2.8116106318209806.aHR0cHM6Ly9teS1kZXYtc3RvcmUtNzQ1NTE2NTI4LnN0b3JlLmJjZGV2.xsskoCN7-EHwlovnbDQ97LCnoNpwlXyazbXdKRqc4f0\",\"clientKey\":\"\",\"gateway\":\"adyenv2\",\"paymentMethodsResponse\":{\"groups\":[{\"name\":\"WeChatPay\",\"types\":[\"wechatpayQR\",\"wechatpayWeb\"]},{\"name\":\"Credit Card\",\"types\":[\"visa\",\"mc\",\"amex\",\"discover\",\"cup\",\"maestro\",\"diners\",\"jcb\"]},{\"name\":\"AliPay\",\"types\":[\"alipay\"]}],\"paymentMethods\":[{\"brands\":[\"visa\",\"mc\",\"amex\",\"discover\",\"cup\",\"maestro\",\"diners\",\"jcb\"],\"details\":[{\"key\":\"number\",\"type\":\"text\"},{\"key\":\"expiryMonth\",\"type\":\"text\"},{\"key\":\"expiryYear\",\"type\":\"text\"},{\"key\":\"cvc\",\"type\":\"text\"},{\"key\":\"holderName\",\"optional\":true,\"type\":\"text\"}],\"name\":\"Credit Card\",\"supportsRecurring\":true,\"type\":\"scheme\"},{\"name\":\"AliPay\",\"supportsRecurring\":true,\"type\":\"alipay\"},{\"details\":[{\"key\":\"number\",\"type\":\"text\"},{\"key\":\"expiryMonth\",\"type\":\"text\"},{\"key\":\"expiryYear\",\"type\":\"text\"},{\"key\":\"cvc\",\"type\":\"text\"},{\"key\":\"holderName\",\"optional\":true,\"type\":\"text\"},{\"key\":\"telephoneNumber\",\"optional\":true,\"type\":\"text\"}],\"name\":\"ExpressPay\",\"supportsRecurring\":true,\"type\":\"cup\"},{\"details\":[{\"details\":[{\"key\":\"ownerName\",\"type\":\"text\"},{\"key\":\"bankLocationId\",\"type\":\"text\"},{\"key\":\"bankAccountNumber\",\"type\":\"text\"}],\"key\":\"bankAccount\",\"type\":\"bankAccount\"}],\"name\":\"ACH Direct Debit\",\"supportsRecurring\":true,\"type\":\"ach\"},{\"name\":\"Pay over time with Klarna.\",\"supportsRecurring\":true,\"type\":\"klarna_account\"},{\"details\":[{\"key\":\"paywithgoogle.token\",\"type\":\"payWithGoogleToken\"}],\"name\":\"Google Pay\",\"supportsRecurring\":true,\"type\":\"paywithgoogle\"},{\"name\":\"WeChat Pay\",\"supportsRecurring\":true,\"type\":\"wechatpayQR\"},{\"name\":\"WeChat Pay\",\"supportsRecurring\":true,\"type\":\"wechatpayWeb\"}]}},\"clientToken\":null,\"returnUrl\":\"https:\\/\\/my-dev-store-745516528.store.bcdev\\/checkout.php?action=set_external_checkout&provider=adyenv2\"},{\"id\":\"applepay\",\"gateway\":null,\"logoUrl\":\"https:\\/\\/corypractised-cloud-dev-vm.store.bcdev\\/rHEAD\\/modules\\/checkout\\/applepay\\/images\\/applepay-header@2x.png\",\"method\":\"applepay\",\"supportedCards\":[],\"providesShippingAddress\":false,\"config\":{\"displayName\":\"\",\"cardCode\":null,\"helpText\":\"\",\"enablePaypal\":null,\"merchantId\":\"190a47ca-9061-57db-b5b7-fad5cba1ffdd\",\"is3dsEnabled\":null,\"testMode\":false,\"isVisaCheckoutEnabled\":null,\"requireCustomerCode\":false,\"isVaultingEnabled\":false,\"isVaultingCvvEnabled\":null,\"hasDefaultStoredInstrument\":false,\"isHostedFormEnabled\":false,\"logo\":null},\"type\":\"PAYMENT_TYPE_API\",\"initializationStrategy\":{\"type\":\"not_applicable\"},\"nonce\":null,\"initializationData\":{\"storeName\":\"My Dev Store 745516528\",\"countryCode\":\"US\",\"currencyCode\":\"USD\",\"supportedNetworks\":[\"visa\",\"masterCard\",\"amex\",\"discover\"],\"gateway\":\"adyenv2\",\"merchantCapabilities\":[\"supports3DS\"],\"merchantId\":\"190a47ca-9061-57db-b5b7-fad5cba1ffdd\",\"paymentsUrl\":\"https:\\/\\/bigpay.service.bcdev\",\"sentry\":\"https:\\/\\/e9baf8b77dd74141a0e9eaebb9dd3706@sentry.io\\/1188037\",\"confirmationLink\":\"\\/checkout\\/order-confirmation\"},\"clientToken\":null,\"returnUrl\":null},{\"id\":\"ach\",\"gateway\":\"adyenv2\",\"logoUrl\":\"\",\"method\":\"ach\",\"supportedCards\":[],\"providesShippingAddress\":false,\"config\":{\"displayName\":\"ACH Direct Debit\",\"cardCode\":null,\"helpText\":\"\",\"enablePaypal\":null,\"merchantId\":null,\"is3dsEnabled\":null,\"testMode\":true,\"isVisaCheckoutEnabled\":null,\"requireCustomerCode\":false,\"isVaultingEnabled\":false,\"isVaultingCvvEnabled\":false,\"[...]
