@keyframes payment-method-skeleton-pulse {
    0%, 100% {
        background-color: color("greys", "lighter");
    }

    50% {
        background-color: mix(color("greys", "light"), color("greys", "medium"), 50%);
    }
}

.payment-method-skeleton {
    @include enhancedThemeV1 {
        padding: spacing("half") 0;

        div {
            animation: payment-method-skeleton-pulse $loading-skeleton-grey-box-timing;
            background: color("greys", "lighter");
        }
    }
}
