{
  "log": {
    "_recordingName": "ApplePay in Customer Step",
    "creator": {
      "comment": "persister:CustomFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "dce5067a1d80c8258383febbdd620f82",
        "request": {
          "headers": [
            {
              "name": "x-api-internal",
              "value": "This API endpoint is for internal use only and may change in the future"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "checkoutId",
              "value": "57f135b0-376a-47a2-9655-051807f4541d"
            },
            {
              "_fromType": "array",
              "name": "include",
              "value": "cart.lineItems.physicalItems.categoryNames"
            },
            {
              "_fromType": "array",
              "name": "include",
              "value": "cart.lineItems.digitalItems.categoryNames"
            }
          ],
          "url": "https://4241.project/api/storefront/checkout-settings?checkoutId=57f135b0-376a-47a2-9655-051807f4541d&include=cart.lineItems.physicalItems.categoryNames&include=cart.lineItems.digitalItems.categoryNames"
        },
        "response": {
          "content": {
            "encoding": "utf8",
            "mimeType": "application/json",
            "size": 8086,
            "text": "{\"context\":{\"flashMessages\":[],\"payment\":{\"token\":null},\"checkoutId\":\"57f135b0-376a-47a2-9655-051807f4541d\",\"geoCountryCode\":\"MX\"},\"customization\":{\"languageData\":[]},\"storeConfig\":{\"cdnPath\":\"https://cdn.integration.zone/r-2dae3fc9a186c15fac08e800487d1c1ba04df77c\",\"checkoutSettings\":{\"checkoutBillingSameAsShippingEnabled\":true,\"hasMultiShippingEnabled\":false,\"enableOrderComments\":true,\"enableTermsAndConditions\":false,\"guestCheckoutEnabled\":true,\"isCardVaultingEnabled\":true,\"isCouponCodeCollapsed\":true,\"isPaymentRequestEnabled\":false,\"isPaymentRequestCanMakePaymentEnabled\":false,\"isSignInEmailEnabled\":false,\"isSpamProtectionEnabled\":false,\"isTrustedShippingAddressEnabled\":true,\"orderTermsAndConditions\":\"\",\"orderTermsAndConditionsLocation\":\"payment\",\"orderTermsAndConditionsLink\":\"\",\"orderTermsAndConditionsType\":\"\",\"privacyPolicyUrl\":\"\",\"shippingQuoteFailedMessage\":\"Unfortunately one or more items in your cart can't be shipped to your location. Please choose a different delivery address.\",\"isAccountCreationEnabled\":true,\"realtimeShippingProviders\":[\"Fedex\",\"UPS\",\"USPS\"],\"remoteCheckoutProviders\":[\"applepay\"],\"providerWithCustomCheckout\":null,\"isAnalyticsEnabled\":false,\"isStorefrontSpamProtectionEnabled\":true,\"googleMapsApiKey\":\"\",\"googleRecaptchaSitekey\":\"6LcvTksbAAAAAHeV9ajqHbWD382t8Mg5xkYuEwcs\",\"features\":{\"CHECKOUT-3573.expose_correct_error_message\":true,\"CHECKOUT-3671.do_not_render_payment_form_if_not_payment\":true,\"CHECKOUT-4941.account_creation_in_checkout\":true,\"CHECKOUT-4183.checkout_google_address_autocomplete_uk\":false,\"DATA-6891.missing_orders_within_GA\":false,\"CHECKOUT-4726.add_address_in_multishipping_checkout\":true,\"CHECKOUT-4936.enable_custom_item_shipping\":true,\"PAYMENTS-6806.enable_ppsdk_strategy\":false,\"PAYMENTS-6799.localise_checkout_payment_error_messages\":true,\"PROJECT-4097.Bolt_accounts\":false,\"PROJECT-4126.Bolt_onboarding\":true,\"PROJECT-3828.add_3ds_support_on_squarev2\":false,\"PAYPAL-1149.braintree-new-card-below-totals-banner-placement\":true,\"INT-4994.Opayo_3DS2\":true,\"INT-5826.amazon_relative_url\":false,\"CHECKOUT-3190.enable_buy_now_cart\":false,\"INT-6399.amazon_pay_apb\":false,\"PROJECT-3483.amazon_pay_ph4\":false,\"PROJECT-2381.upgrade_checkout\":true,\"CHECKOUT-3984.upgrade_checkout_billing_step\":true,\"CHECKOUT-3790.upgrade_checkout_customer_step\":true,\"CHECKOUT-3790.upgrade_checkout_payment_step\":true,\"CHECKOUT-3983.upgrade_checkout_shipping_step\":true,\"CHECKOUT-3790.upgrade_order_confirmation\":true,\"CHECKOUT-3852.upgrade_cart_summary\":true},\"requiresMarketingConsent\":false},\"currency\":{\"code\":\"USD\",\"decimalPlaces\":\"2\",\"decimalSeparator\":\".\",\"isTransactional\":true,\"symbolLocation\":\"left\",\"symbol\":\"$\",\"thousandsSeparator\":\",\"},\"displayDateFormat\":\"do MMM yyyy\",\"displaySettings\":{\"hidePriceFromGuests\":false},\"inputDateFormat\":\"dd/MM/yyyy\",\"formFields\":{\"billingAddressFields\":[{\"id\":\"field_4\",\"name\":\"firstName\",\"custom\":false,\"label\":\"First Name\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_5\",\"name\":\"lastName\",\"custom\":false,\"label\":\"Last Name\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_6\",\"name\":\"company\",\"custom\":false,\"label\":\"Company Name\",\"required\":false,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_7\",\"name\":\"phone\",\"custom\":false,\"label\":\"Phone Number\",\"required\":false,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_8\",\"name\":\"address1\",\"custom\":false,\"label\":\"Address Line 1\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_9\",\"name\":\"address2\",\"custom\":false,\"label\":\"Address Line 2\",\"required\":false,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_10\",\"name\":\"city\",\"custom\":false,\"label\":\"Suburb/City\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_11\",\"name\":\"countryCode\",\"custom\":false,\"label\":\"Country\",\"required\":true,\"default\":null,\"maxLength\":false},{\"id\":\"field_12\",\"name\":\"stateOrProvince\",\"custom\":false,\"label\":\"State/Province\",\"required\":true,\"default\":null,\"maxLength\":\"\"},{\"id\":\"field_13\",\"name\":\"postalCode\",\"custom\":false,\"label\":\"Zip/Postcode\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"}],\"shippingAddressFields\":[{\"id\":\"field_14\",\"name\":\"firstName\",\"custom\":false,\"label\":\"First Name\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_15\",\"name\":\"lastName\",\"custom\":false,\"label\":\"Last Name\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_16\",\"name\":\"company\",\"custom\":false,\"label\":\"Company Name\",\"required\":false,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_17\",\"name\":\"phone\",\"custom\":false,\"label\":\"Phone Number\",\"required\":false,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_18\",\"name\":\"address1\",\"custom\":false,\"label\":\"Address Line 1\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_19\",\"name\":\"address2\",\"custom\":false,\"label\":\"Address Line 2\",\"required\":false,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_20\",\"name\":\"city\",\"custom\":false,\"label\":\"Suburb/City\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"},{\"id\":\"field_21\",\"name\":\"countryCode\",\"custom\":false,\"label\":\"Country\",\"required\":true,\"default\":null,\"maxLength\":false},{\"id\":\"field_22\",\"name\":\"stateOrProvince\",\"custom\":false,\"label\":\"State/Province\",\"required\":true,\"default\":null,\"maxLength\":\"\"},{\"id\":\"field_23\",\"name\":\"postalCode\",\"custom\":false,\"label\":\"Zip/Postcode\",\"required\":true,\"default\":\"\",\"maxLength\":\"\"}]},\"links\":{\"cartLink\":\"https://tools1664986256-testly-the-thirdn8.my-integration.zone/cart.php\",\"checkoutLink\":\"https://tools1664986256-testly-the-thirdn8.my-integration.zone/checkout\",\"createAccountLink\":\"https://tools1664986256-testly-the-thirdn8.my-integration.zone/login.php?action=create_account\",\"forgotPasswordLink\":\"https://tools1664986256-testly-the-thirdn8.my-integration.zone/login.php?action=reset_password\",\"loginLink\":\"https://tools1664986256-testly-the-thirdn8.my-integration.zone/login.php\",\"orderConfirmationLink\":\"https://tools1664986256-testly-the-thirdn8.my-integration.zone/checkout/order-confirmation\",\"siteLink\":\"https://tools1664986256-testly-the-thirdn8.my-integration.zone\"},\"paymentSettings\":{\"bigpayBaseUrl\":\"*\",\"clientSidePaymentProviders\":[\"adyenv2\",\"adyenv3\",\"affirm\",\"afterpay\",\"authorizenet\",\"bnz\",\"barclays\",\"bigpaypay\",\"bluesnap\",\"bolt\",\"braintree\",\"braintreepaypal\",\"braintreepaypalcredit\",\"braintreevisacheckout\",\"cardconnect\",\"cba_mpgs\",\"ccavenuemars\",\"clearpay\",\"clover\",\"chasepay\",\"checkoutcom\",\"cybersource\",\"cybersourcev2\",\"converge\",\"elavon\",\"eway\",\"ewayrapid\",\"firstdatae4v14\",\"googlepayadyenv2\",\"googlepayadyenv3\",\"googlepaybraintree\",\"googlepaycybersourcev2\",\"googlepaycheckoutcom\",\"googlepaystripe\",\"googlepayorbital\",\"hps\",\"humm\",\"laybuy\",\"migs\",\"moneris\",\"mollie\",\"nmi\",\"orbital\",\"paymetric\",\"paypal\",\"paypalcommercecreditcards\",\"quadpay\",\"quickbooks\",\"sagepay\",\"securenet\",\"sezzle\",\"shopkeep\",\"squarev2\",\"stripe\",\"stripeupe\",\"stripev3\",\"usaepay\",\"vantiv\",\"vantivcore\",\"wepay\",\"worldpayaccess\",\"zip\",\"cabbage_pay\",\"cabbage_pay.card\",\"cabbage_pay.redirection\",\"dlocal\",\"dlocal.card\",\"dlocal.hosted\",\"electronic_payment_exchange\",\"electronic_payment_exchange.card\",\"mercado_pago\",\"mercado_pago.card\",\"mercado_pago.hosted\",\"pinwheel\",\"pinwheel.card\",\"serve_first\",\"serve_first.card\",\"windcave\",\"windcave.card\",\"bitpay\",\"bitpay.hosted\",\"optty\",\"optty.buy_now_pay_later\",\"nexi\",\"nexi.hosted\"]},\"shopperConfig\":{\"defaultNewsletterSignup\":false,\"passwordRequirements\":{\"alpha\":\"[A-Za-z]\",\"numeric\":\"[0-9]\",\"minlength\":7,\"error\":\"Passwords must be at least 7 characters and contain both alphabetic and numeric characters.\"},\"showNewsletterSignup\":true},\"storeProfile\":{\"orderEmail\":\"tools+1664986256@bigcommerce.com\",\"shopPath\":\"https://tools1664986256-testly-the-thirdn8.my-integration.zone\",\"storeCountry\":\"United States\",\"storeCountryCode\":\"US\",\"storeHash\":\"j06gl92hjx\",\"storeId\":16030192,\"storeName\":\"tools+1664986256 testly the third\",\"storePhoneNumber\":\"\",\"storeLanguage\":\"en_US\"},\"imageDirectory\":\"product_images\",\"isAngularDebuggingEnabled\":false,\"shopperCurrency\":{\"code\":\"USD\",\"symbolLocation\":\"left\",\"symbol\":\"$\",\"decimalPlaces\":\"2\",\"decimalSeparator\":\".\",\"thousandsSeparator\":\",\",\"exchangeRate\":1,\"isTransactional\":true}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 691,
      },
      {
        "_id": "3305a0eca83b0d708d1f1b8859eb143c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "include",
              "value": "cart.lineItems.physicalItems.options,cart.lineItems.digitalItems.options,customer,customer.customerGroup,payments,promotions.banners,cart.lineItems.physicalItems.categoryNames,cart.lineItems.digitalItems.categoryNames"
            }
          ],
          "url": "https://4241.project/api/storefront/checkout/57f135b0-376a-47a2-9655-051807f4541d?include=cart.lineItems.physicalItems.options%2Ccart.lineItems.digitalItems.options%2Ccustomer%2Ccustomer.customerGroup%2Cpayments%2Cpromotions.banners%2Ccart.lineItems.physicalItems.categoryNames%2Ccart.lineItems.digitalItems.categoryNames"
        },
        "response": {
          "content": {
            "encoding": "utf8",
            "mimeType": "application/json",
            "size": 3164,
            "text": "{\"id\":\"57f135b0-376a-47a2-9655-051807f4541d\",\"cart\":{\"id\":\"57f135b0-376a-47a2-9655-051807f4541d\",\"customerId\":0,\"email\":null,\"currency\":{\"name\":\"US Dollar\",\"code\":\"USD\",\"symbol\":\"$\",\"decimalPlaces\":2},\"isTaxIncluded\":false,\"baseAmount\":225,\"discountAmount\":0,\"cartAmount\":225,\"coupons\":[],\"discounts\":[{\"id\":\"63eb295a-6ac1-4bd1-9577-1746e145f0cf\",\"discountedAmount\":0}],\"lineItems\":{\"physicalItems\":[{\"id\":\"63eb295a-6ac1-4bd1-9577-1746e145f0cf\",\"parentId\":null,\"variantId\":66,\"productId\":86,\"sku\":\"ABS\",\"name\":\"[Sample] Able Brewing System\",\"url\":\"https:\\/\\/tools1664986256-testly-the-thirdn8.my-integration.zone\\/able-brewing-system\",\"quantity\":1,\"brand\":\"\",\"isTaxable\":true,\"imageUrl\":\"https:\\/\\/cdn.integration.zone\\/s-j06gl92hjx\\/products\\/86\\/images\\/286\\/ablebrewingsystem4.1664986362.220.290.jpg?c=1\",\"discounts\":[],\"discountAmount\":0,\"couponAmount\":0,\"originalPrice\":225,\"listPrice\":225,\"salePrice\":225,\"extendedListPrice\":225,\"extendedSalePrice\":225,\"comparisonPrice\":225,\"extendedComparisonPrice\":225,\"isShippingRequired\":true,\"giftWrapping\":null,\"addedByPromotion\":false,\"isMutable\":true,\"options\":[],\"categoryNames\":[\"Shop All\",\"Kitchen\"]}],\"digitalItems\":[],\"giftCertificates\":[],\"customItems\":[]},\"createdTime\":\"2022-10-05T23:35:01+00:00\",\"updatedTime\":\"2022-10-05T23:35:02+00:00\",\"locale\":\"en\"},\"billingAddress\":{\"id\":\"633e14a641967\",\"firstName\":\"\",\"lastName\":\"\",\"email\":\"\",\"company\":\"\",\"address1\":\"\",\"address2\":\"\",\"city\":\"NEW YORK\",\"shouldSaveAddress\":false,\"stateOrProvince\":\"New York\",\"stateOrProvinceCode\":\"NY\",\"country\":\"United States\",\"countryCode\":\"US\",\"postalCode\":\"10028\",\"phone\":\"\",\"customFields\":[]},\"consignments\":[{\"id\":\"633e14a6418fb\",\"shippingCost\":0,\"handlingCost\":0,\"couponDiscounts\":[],\"discounts\":[],\"lineItemIds\":[\"63eb295a-6ac1-4bd1-9577-1746e145f0cf\"],\"selectedShippingOption\":{\"id\":\"4dcbf24f457dd67d5f89bcf374e0bc9b\",\"type\":\"freeshipping\",\"description\":\"Free Shipping\",\"imageUrl\":\"\",\"cost\":0,\"transitTime\":\"\",\"additionalDescription\":\"\"},\"shippingAddress\":{\"firstName\":\"\",\"lastName\":\"\",\"email\":\"\",\"company\":\"\",\"address1\":\"\",\"address2\":\"\",\"city\":\"NEW YORK\",\"stateOrProvince\":\"New York\",\"stateOrProvinceCode\":\"NY\",\"country\":\"United States\",\"countryCode\":\"US\",\"postalCode\":\"10028\",\"phone\":\"\",\"customFields\":[],\"shouldSaveAddress\":false},\"address\":{\"firstName\":\"\",\"lastName\":\"\",\"email\":\"\",\"company\":\"\",\"address1\":\"\",\"address2\":\"\",\"city\":\"NEW YORK\",\"stateOrProvince\":\"New York\",\"stateOrProvinceCode\":\"NY\",\"country\":\"United States\",\"countryCode\":\"US\",\"postalCode\":\"10028\",\"phone\":\"\",\"customFields\":[],\"shouldSaveAddress\":false}}],\"orderId\":null,\"shippingCostTotal\":0,\"shippingCostBeforeDiscount\":0,\"handlingCostTotal\":0,\"taxTotal\":0,\"giftWrappingCostTotal\":0,\"coupons\":[],\"taxes\":[{\"name\":\"Tax\",\"amount\":0}],\"subtotal\":225,\"grandTotal\":225,\"outstandingBalance\":225,\"isStoreCreditApplied\":true,\"shouldExecuteSpamCheck\":false,\"giftCertificates\":[],\"createdTime\":\"2022-10-05T23:35:01+00:00\",\"updatedTime\":\"2022-10-05T23:35:02+00:00\",\"customerMessage\":\"\",\"customer\":{\"id\":0,\"isGuest\":true,\"email\":\"\",\"firstName\":\"\",\"lastName\":\"\",\"fullName\":\"\",\"addresses\":[],\"storeCredit\":0,\"shouldEncourageSignIn\":false},\"promotions\":[],\"payments\":[{}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1100,
      },
      {
        "_id": "3f87bb23d79c8bef5c6840e20cf65aac",
        "request": {
          "headers": [
            {
              "name": "x-api-internal",
              "value": "This API endpoint is for internal use only and may change in the future"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://4241.project/api/storefront/form-fields"
        },
        "response": {
          "content": {
            "encoding": "utf8",
            "mimeType": "application/json",
            "size": 4024,
            "text": "{\"billingAddress\":[{\"id\":\"field_4\",\"name\":\"firstName\",\"custom\":false,\"label\":\"First Name\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_5\",\"name\":\"lastName\",\"custom\":false,\"label\":\"Last Name\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_6\",\"name\":\"company\",\"custom\":false,\"label\":\"Company Name\",\"required\":false,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_7\",\"name\":\"phone\",\"custom\":false,\"label\":\"Phone Number\",\"required\":false,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_8\",\"name\":\"address1\",\"custom\":false,\"label\":\"Address Line 1\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_9\",\"name\":\"address2\",\"custom\":false,\"label\":\"Address Line 2\",\"required\":false,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_10\",\"name\":\"city\",\"custom\":false,\"label\":\"Suburb\\/City\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"},{\"id\":\"field_11\",\"name\":\"countryCode\",\"custom\":false,\"label\":\"Country\",\"required\":true,\"default\":null,\"maxLength\":null,\"type\":\"array\",\"fieldType\":\"dropdown\",\"options\":{\"helperLabel\":\"Choose a Country\",\"items\":[]}},{\"id\":\"field_12\",\"name\":\"stateOrProvince\",\"custom\":false,\"label\":\"State\\/Province\",\"required\":true,\"default\":null,\"maxLength\":null},{\"id\":\"field_13\",\"name\":\"postalCode\",\"custom\":false,\"label\":\"Zip\\/Postcode\",\"required\":true,\"default\":\"\",\"maxLength\":null,\"type\":\"string\",\"fieldType\":\"text\"}],\"shippingAddress\":[{\"id\":\"field_14\",\"name\":\"firstName\",\"custom\":false,\"label\":\"First Name\",\"required\":true,\"default\":\"\",\"maxLengt[...]
