{
  "log": {
    "_recordingName": "ApplePay in Customer Step",
    "creator": {
      "comment": "persister:CustomFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c719f497f43c2bbd393e198c58e47516",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://sydneyinaugurate-cloud-dev-vm.store.bcdev/vagrant/bigcommerce/vendor/bower_components/checkout/dist/billing-81bc6d15.js"
        },
        "response": {
          "content": {
            "encoding": "utf8",
            "mimeType": "application/javascript",
            "size": 5888,
            "text": "\"use strict\";(self.webpackJsonpCheckout=self.webpackJsonpCheckout||[]).push([[876],{48574:(e,t,s)=>{s.r(t),s.d(t,{default:()=>B});var n=s(86940),r=s(91074),i=s(67627),o=s(95593),a=s(88870),d=s(49890),l=s(55409),u=s(70140),c=s(74161),g=s(98119),m=s(45855),h=s(41957);function p(e){var t=(0,h.Z)(e);return t&&[\"amazonpay\"].indexOf(t.providerId)>-1?t.providerId:void 0}var f=s(76417),A=s(19686),v=s(97204),C=s(24648),_=s(53537),b=s(96543),y=s(34323),Z=s(17175),E=s(43276),S=s(67570),k=s(60452),w=s[...]
