// =============================================================================
// CHECKOUT CART DRAWER (Settings)
// =============================================================================

$cartDrawer-borderRadius:              $global-radius;
$cartDrawer-figure-offset:             4px;
$cartDrawer-figure-size:               50px;
$cartDrawer-min-height:                350px;
