// =============================================================================
// CUSTOMER (Component)
// =============================================================================

// Customer email
//
// -----------------------------------------------------------------------------
.customerEmail-container {
    @include grid-row;

    margin-bottom: spacing("single");

    .customerEmail-floating--enabled {
        @include breakpoint("small") {
            margin-top: 0;
            padding-left: $floating-form-field-spacing;

            button {
                height: $floating-label-input-height;
            }
        }
    }
}

.customerEmail-action {
    @include grid-column($collapse: true, $columns: $total-columns);

    margin-bottom: spacing("single");
    padding: 0;

    @include breakpoint("small") {
        margin: $customerEmail-action-margin;
        padding-left: spacing("single");
        width: grid-calc(5, $total-columns);
    }
}

.customerEmail-body {
    @include grid-column($collapse: true, $columns: $total-columns);

    @include breakpoint("small") {
        width: grid-calc(7, $total-columns);
    }
}

.customerEmail-button {
    padding: $customerEmail-button-padding;
    width: 100%;
}

// Customer header
//
// -----------------------------------------------------------------------------
.customerHeader,
.checkout-step--customer {
    .stepHeader-body {
        overflow: visible;
    }
}

// Customer view
//
// -----------------------------------------------------------------------------
.customerView {
    align-items: top;
    display: flex;
}

.customerView-actions {
    margin-top: $customerView-actions-marginTop--large;
    white-space: nowrap;

    @include breakpoint("small") {
        margin-top: $customerView-actions-marginTop;
    }

    .button {
        margin-bottom: 0;
    }
}

.customerView-body {
    @include textTruncateMultiline;

    margin-right: spacing("single");
    width: 100%;
}

.wallet-buttons-container {
    margin: spacing('single') 0 spacing('half');

    .checkoutRemote {
        margin: 0;
    }

    .checkout-separator {
        align-items: center;
        display: flex;
        height: spacing("half");
        justify-content: space-between;
        margin-top: spacing('single');
        text-align: center;
        width: 100%;

        span {
            padding: 0 spacing("half");
        }
    }

    .checkout-separator::before,
    .checkout-separator::after {
        background-color: color("greys", "light");
        content: ' ';
        display: inline-block;
        flex-grow: 2;
        height: $container-border-global-size;
    }

    #googlepayauthorizenetCheckoutButton {
        flex-grow: 1;
        margin-right: 0;

        button {
            border: none;
            border-radius: $global-radius;
            height: $wallet-button-height;
            max-width: $wallet-button-max-width;
            min-height: 0;
            min-width: 0;
            width: 100%;
        }
    }
}
