// StripeButton styles when iframe is rendered
// -----------------------------------------------------------------------------

$stripe-bottom: 3px;

.stripeCustomerEmail-button {
    bottom: $stripe-bottom;
    padding: $customerEmail-button-padding;
    width: 100%;

    &--withFloatingLabels {
        @extend .stripeCustomerEmail-button;

        bottom: 0;
    }
}
