// =============================================================================
// CHECKOUT TOOLS
// =============================================================================

@mixin textTruncateMultiline() {
    hyphens: auto;
    max-width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
}
