.checkout-address--static {
    .address-entry {
        margin: 0;
    }
}

.checkout-address--with-provider-icon {
    $icon-size: 1.85rem;

    position: relative;

    .address-entry {
        padding-right: $icon-size;
    }

    .icon {
        width: $icon-size;
        height: $icon-size;
        position: absolute;
        top: 0;
        right: 0;
    }
}
