// =============================================================================
// CHECKLIST
// =============================================================================

.form-checklist,
.checklist-skeleton {
    border: container("border", "dark");
    border-radius: $global-radius $global-radius 0 0;
    color: $checklist-label-color;
    list-style: none;
    margin-left: 0;

    &:only-child {
        border-radius: $global-radius;
    }
}

.form-checklist-item {
    border-bottom: container("border", "dark");
    overflow: hidden;

    &:last-child {
        border-bottom: 0;
    }
}

.form-checklist-item--selected {
    overflow: visible;
}

.form-checklist-item:hover,
.form-checklist-item--selected {
    background-color: container("fill", "dark");
}

//
// CHECKLIST HEADER
// -----------------------------------------------------------------------------

.form-checklist-header > .form-field {
    margin-bottom: 0;
}

.form-checklist-header--selected {
    .form-label {
        font-weight: $checklist-label-selected-fontWeight;
    }
}

.form-checklist-checkbox ~ .form-label {
    color: inherit;
    display: block;
    font-size: $checklist-label-fontSize;
    line-height: 2.2;
    margin-bottom: 0;
    min-height: $checklist-label-height;
    padding: $checklist-spacing $checklist-spacingRight $checklist-spacing $checklist-spacingLeft--small;
    position: relative;

    @include breakpoint("small") {
        padding-left: $checklist-spacingLeft;
    }

    &::before,
    &::after {
        @include square(26px);

        background-color: $input-bg-color;
        border-radius: 100%;
        content: "";
        left: $checklist-pip-spacing--small;
        margin: auto;
        position: absolute;
        top: $checklist-pip-spacing-top;

        @include breakpoint("small") {
            left: $checklist-pip-spacing;
        }
    }

    &::after {
        transform: scale(0.66);
    }

    &::before {
        border: $input-border-width $input-border-style $input-border-color;
    }
}

.form-checklist-checkbox {
    @include u-hidden("visually");

    &:focus ~ .form-label {
        box-shadow: $checklist-focus-boxShadow;
    }

    &:checked ~ .form-label::before {
        border-color: color("highlight");
    }

    &:checked ~ .form-label::after {
        background-color: color("highlight");
    }
}

//
// CHECKLIST BODY
// -----------------------------------------------------------------------------

.form-checklist-body {
    @include collapse($max-height: remCalc(350px));

    margin-left: $checklist-spacingLeft--small;
    margin-right: $checklist-spacingRight;

    @include breakpoint("small") {
        margin-left: $checklist-spacingLeft;
    }
}

.form-checklist-container {
    clear: both;
    padding: ($checklist-spacing / 1.5) 0;
}

//
// CHECKLIST FOOTER
// -----------------------------------------------------------------------------

.form-checklist-footer {
    border: container("border", "dark");
    border-radius: 0 0 $global-radius $global-radius;
    border-top: 0;
    color: color("highlight");
    line-height: lineHeight("small");
    margin-bottom: $form-verticalSpacing;
    text-align: center;
}

.form-checklist-action {
    border-radius: 0 0 $global-radius $global-radius;
    padding: ($checklist-spacing * 1.5) 0;
    width: 100%;

    &:focus,
    &:hover {
        background-color: container("fill", "dark");
    }

    &:focus {
        box-shadow: $checklist-focus-boxShadow;
    }
}

.checklist-skeleton {
    border-radius: $global-radius;

    .skeleton-container {
        border-bottom: container("border", "dark");
        display: flex;
        height: $checklist-label-height;
        justify-content: flex-start;
        margin-left: 0;
        padding-left: $checklist-spacingLeft--small;
        padding-right: $checklist-spacingRight;
        padding-top: $checklist-pip-spacing-top;
        position: relative;

        @include breakpoint("small") {
            padding-left: $checklist-spacingLeft;
        }
    }

    .skeleton-container:last-child {
        border-bottom: none;
    }

    .checklist-skeleton-circle {
        @include square(26px);

        background-color: $loading-skeleton-button-bg-color;
        border-radius: 100%;
        left: $checklist-pip-spacing--small;
        position: absolute;
        top: $checklist-pip-spacing-top;

        @include breakpoint("small") {
            left: $checklist-pip-spacing;
        }
    }

    .checklist-skeleton-rectangle,
    .checklist-skeleton-rectangle::before {
        @include square(26px);

        border-radius: $global-radius;
        display: inline-block;
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .checklist-skeleton-rectangle::before {
        animation: $loading-skeleton-animation;
        animation-timing-function: $loading-skeleton-timing;
        background: $loading-skeleton-button-bg-color;
        content: ' ';
        display: block;
        left: 0;
        position: absolute;
        top: 0;
        will-change: $loading-skeleton-will-change;
    }
}
