.form-checklist {
    @include themeV2 {
        background-color: var(--v2-bg-input);
        color: var(--v2-text-primary);
        border: none;
        display: flex;
        flex-direction: column;

        .form-checklist-item {
            background-color: var(--v2-bg-input);
            border: 1px solid var(--v2-border);
            border-radius: spacing("sixth");
            margin: spacing("sixth") 0;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }         
        }

        .form-checklist-item--selected {
            background-color: var(--v2-bg-input-focus);
            border: $input-border-width $input-border-style var(--v2-black);
        }

        .form-checklist-header {
            .form-label {
                display: flex;
                flex-direction: row;
                align-items: center;

                .shippingOptionLabel {
                    width: 100%;
                }
            }

            .shippingOption-desc {
                font-weight: $fontWeight-bold;
            }
        }
    }
}

.form-checklist-checkbox {
    @include themeV2 {
        &:focus ~ .form-label {
            box-shadow: $checklist-focus-boxShadow;
        }

        & ~ .form-label {
            &::before {
                border: 2px $input-border-style var(--v2-border);
            }
        
            &::after {
                transform: scale(0.36);
            }
        }
    
        &:checked ~ .form-label::before {
            border-color: var(--v2-checkbox-checked-bg);
            background-color: var(--v2-checkbox-checked-bg);
        }
    
        &:checked ~ .form-label::after {
            background-color: var(--v2-checklist-check-after-color);
        }
    }
}


// Payment provider title
.paymentProviderHeader-container {
    @include themeV2 {
        flex: 1;
    }
}
