.checkout-step--customer {
    .customer-login-link {
        @include themeV2 {
            margin-top: #{spacing("half") + spacing("third")};
        }
    }

    @include themeV2-desktop {
        .customerEmail-container {
            display: flex;
            flex-direction: row;
        }

        .customerEmail-body {
            width: 80%;
        }
    }
}
