.paypal-commerce-fastlane-instrument {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;

  &-details {
    display: flex;
    align-items: center;
  }

  &-branding {
    margin-top: -0.5rem;
  }
}
