// =============================================================================
// THEME V2 MIXINS
// =============================================================================

@mixin themeV2 {
  @at-root .themeV2 #{&} {
    @content;
  }
}

@mixin themeV2-mobile {
    @at-root .themeV2 #{&} {
        @include breakpoint("small") {
            @content;
        }
    }
}

@mixin themeV2-mobile-tablet-only {
    @at-root .themeV2 #{&} {
        @media (max-width: 767px) {
            @content;
        }
    }
}

@mixin themeV2-tablet {
    .themeV2 & {
        @include breakpoint("medium") {
            @content;
        }
    }
}

@mixin themeV2-desktop {
    .themeV2 & {
        @include breakpoint("large") {
            @content;
        }
    }
}

@mixin themeV2-widescreen {
    .themeV2 & {
        @include breakpoint("xlarge") {
            @content;
        }
    }
}
