@import "../../../../../src/app/ui/base";

// We don't use these styles for the floating labels in the iframe.
// These styles are in case of fallback for stripeIframe.scss
// -----------------------------------------------------------------------------
// stylelint-disable-next-line selector-pseudo-class-no-unknown
:export {
    border-radius: 4px;
    font-size: 16px;
    padding: 6px 12px 3.3px 12px;
    padding-left: 4.3px;
    padding-right: 2.8px;
}
