@import '../../ui/Base';

.shippingOptions-panel {
    border: container("border");
    border-radius: $global-radius;
    display: flex;
    min-height: 5rem;
    text-align: center;
}

.shippingOptions-panel-message {
    align-self: center;
    flex: 1;
    margin: 0;
    padding: spacing("half");
}
